<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/public/searchpage.css" type="text/css">
</head>
<body>
  <h1>SPORTAL</h1>
<div class="wrap">
  
   <div class="search">
     <form action = "/search"  method="post"  id="searching">
        <input type="text" class="searchTerm"  name="Search" placeholder="What are you looking for?"/>
         <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
          </button>
     </form>
     
   </div>
</div>
</body>
</html>
