<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Prime Minister Scholarship Scheme For Central Armed Police Forces And Assam Rifles </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs %>
      <hr>
    <h1>
          <em> Prime Minister's Scholarship Scheme For Central Armed Police Forces And Assam Rifles </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                        Prime Minister's Scholarship Scheme For Central Armed Police Forces And Assam Rifles  invites applications from dependent widows and wards 
                        of central armed police forces and Assam Rifles personnel to pursue professional courses at graduation and post graduation level. 
                        The main objective of this scheme is to provide financial help to study well and to motivate them towards professional and technical education.
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
                                    <p>
                                    <ul><li>Must have completed his/her qualifying exam (class 12, Diploma, graduation or equivalent) with at least 60% marks.</li>
                                    <li>Must be wards or widows of CAPFs and AR personal who died at work</li>
                                    <li>Must be the ward or widow of retired personnel (below officer rank)</li>
                                    <li>Must be the ward of Ex-CAPFs and AR personal who become disabled at work</li>
                                    <li>Must be pursuing professional degree courses such as Engineering, medicine, dental, veterinary, BBA, BCA, BPharm, BSc (Nursing, agriculture, etc), MBA, MCA, etc
 
                                    </li>
                                    </ul></p>
                                    <h2>
                                        <hr>
                                          <strong>  BENEFITS:
                                          </strong>
                                            </h2>
                                            <p>
                                                INR 2250 per month for girls
                                                INR 2000 per month for boys
                                            </p>
                                    <h2>
                                        <hr>
                                        <strong>How to apply</strong>
                                    </h2>
                                    <p><pre>
Step 1: Click on New Student? Register Here
Step 2: Select the state of domicile, select the name of the scholarship the student is applying for, 
        select scheme type, write the name, date of birth, mobile number, gender, email ID
Step 3: Provide the bank details (Bank name, IFS Code, Account Number)
Step 4: The mobile number will be verified and an OTP will be generated
Step 5: Login using OTP and fill the form
Step 6: An application ID and password will be generated. Use that for the future references.
</pre>
                                    </p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://scholarships.gov.in/">link to official website</a></a></p>



                                    

                            
</body>
</html>