<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>is National Scholarship Exam (NSE) </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
        <% include partials/nav.ejs %>

      <hr>
    <h1>
          <em>Dhirubhai Ambani Scholarship</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Dhirubhai Ambani Scholarship Programme  invites applications from class 12 passed students who are in the merit list of their state or CBSE board examination and are willing to pursue a graduate degree in streams like engineering, medical, science, law, pharmacy business management and other social sciences.
                             The objective of the scholarship is to provide financial assistance to these meritorious students so that they can pursue their higher education without any impediment and emerge as future leaders.
                            Note: The applications for this year's scholarship will start from the month of June. 
                            


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

        Students who have passed their class 12 board examination and are declared in the merit list of their state board or CBSE board will be eligible for this scholarship. 
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Step 1: The Reliance Foundation will send a link to the top selected students in the merit list via e-mail.
Step 2: Open the link and fill in all the required details.
Step 3: Upload necessary documents (if required).
Step 4: Submit the online form. 
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
The selected students will receive the following benefits:
For Engineering students: INR 36,000 per annum throughout the course.
For Medical students: INR 40,000 per annum throughout the course.
        

</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://das.reliancefoundation.org/">link to official website</a></a></p>



                                    

                            
</body>
</html>