<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loan for Professional/Educational/Training Courses to Disabled Persons</title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Loan for Professional/Educational/Training Courses to Disabled Persons</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>National Scholarship Exam (NSE)  invites applications from school students of class 5 to 12 and diploma/degree students. 
                        The objective of the scholarship is to identify and nurture the talented student
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
        <li>Applicant should be a student of class 5 to 12</li> 
0%        <li>Applicant should hold a diploma or a graduate degree. </li>
        
    </ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Step 1: Applicant can click here to register as a new user. 
Step 2: Login again to fill the application form. 
Step 3: Fill the application form.
Step 4: Upload the required documents and pay the application fee of INR 400. 
Step 5: Submit the application form.
 </pre>


</p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://gokdom.kar.nic.in/Documents/Latest News/NOSApplication201819.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>