<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>National Science Concours (NSC) </title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>SNational Science Concours (NSC) </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            National Science Concours (NSC)  invites applications from students of Class 6 to 12. 
                            The key objective of this online test is to encourage students to be creative and prepare masterpieces in a congenial environment.  
 

                        


                           </p>
                            <h2>


    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible students can apply for Level 1 online test through following steps -
Step 1: Visit the official website.
Step 2: Click on "Register".
Step 3: Sign up with name, email, mobile number click on submit.
Step 4: The password will be sent to the registered mobile number.
Step 5: Login with email/mobile number and password to complete the registration process. 
Step 6: Pay the application fee of INR 150 online or through cheque/draft or directly in the bank account. 
Step 7: Finally submit the form.
            
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
Summer Science Camp
Learning experience
Junior Scientist award
Winner kit to all
Certificate of participation to all
        
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.nationalscienceconcours.com/">link to official website</a></a></p>



                                    

                            
</body>
</html>