<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nagaland State Merit Scholarship </title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Nagaland State Merit Scholarship </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Nagaland State Merit Scholarship  invites applications from class 11 and above students of Nagaland. 
                       The scheme aims to improve the level of literacy and education of the students by providing financial help to pursue higher studies.
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
        <li>For class 11&12, the minimum qualifying percentage of marks in the last class 10/11 exam (respectively) should be 80%.</li> 
        <li>For Degree/P.G. level, the minimum qualifying percentage of marks in the last HSSLC/ Degree Exam (respectively) should be 70%.. </li>
        
    </ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Step 1: Go to https://www..nagaland.gov.in Click here
Step 2: Register as a New User if you're a first time visitor, otherwise Login with your 
existing ID and Password.
Step 3: Go to the link marked as 'Online Services'
Step 4: Select the 'Nagaland State Merit Scholarship ' option from Directorate of Higher 
Education menu.
Step 5: Fill up the form carefully and submit it online.
Step 6: Take a printout of your filled form and submit it to your institution
Based on your submitted printout form, your institution will prepare Annexure IV for
 submission to the Directorate of Higher Education.
</pre>
 </p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
Based on the State Corpus of the Merit Scholarship the Nagaland Government will provide variable monetary scholarships to all eligible students.
       

</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://gokdom.kar.nic.in/Documents/Latest News/NOSApplication201819.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>