<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JM Sethia Merit Scholarship </title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <% include partials/nav.ejs%> 
      <hr>
    <h1>
          <em>JM Sethia Merit Scholarship</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            ications from students enrolled in class 9 to 12, graduation or post graduation courses.
                             The scholarship is applicable only for students pursuing full-time courses only. 



                          
                            


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Category A: For class 9 and 10 students with 75% aggregate in class 8 or equivalent</li>
<li>Category B: For class 11 and 12 students with 75% aggregate in class 10 or equivalent</li>
<li>Category C: For Graduation students with 75% aggregate (in Science/Commerce stream) and
     65% aggregate (in Humanities/Arts) in class 12 or equivalent.</li>
<li>Category D: For Post-graduation students with 60% aggregate (in Science & Commerce) and 50% aggregate (in Humanities/Arts) in graduation </li>


</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
The candidates need to adopt the following application procedure to apply for the scholarship -
Step 1: Download the application form from here. 
Step 2: Read all instructions carefully and fill in all necessary details 
Step 3: Attach attested copies of supporting documents (Certificates/Mark Sheets)
Step 4: Send the completed application form to -
JM SETHIA CHARITABLE TRUST (Regd. & Head Office), 
133, Biplabi Rash Behari Basu Road, 3rd Floor, Room No. 15, Kolkata-700 001
OR
Admn. Office
Gandhi House, 5th Floor, 16, Ganesh Chandra Avenue, Kolkata-700 013 
E-mail: jms_trust@yahoo.in
Phone: +91-93397 93153,  +91-33-2236-0368 / 67
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
Category A- 15 students will receive INR 400 per month for 2 years. 
Category B- 15 students will receive INR 500 per month for 2 years. 
Category C- 10 students will receive INR 600 per month for 2 or 3 years as applicable. 
        •	Category D- 10 students will receive INR 700 per month for 2 or 3 years as applicable. 
        

</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://jmstrust.com/Merit-Scholarship-Scheme.aspx">link to official website</a></a></p>



                                    

                            
</body>
</html>