<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JSPN Scholarship  </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>JSPN Scholarship </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Jaya Satya Pramoda Nidhi invites applications from Madhwa community students who are pursuing class 11 to graduation for JSPN Scholarship . `
                            The main aim behind this scholarship is to provide grants to the meritorious Brahmin students having financial constraints to enable them to achieve their educational goals.
                        


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

        The students who are pursuing class 11, 12, BE, BAMS, Dental, Medical and professional courses are eligible to apply.
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
In order to apply online, follow these steps:
Step 1: Click here to register.
Step 2: Login to fill out the form.
Step 3: Start filling the form.
Step 4: Attach the required document.
Step 5: Finally submit the completed application form.
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
The selected awardee will receive scholarships according to the availability of the funds and the merit of the student.

</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.srijspn.org/">link to official website</a></a></p>



                                    

                            
</body>
</html>