<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIA Youth Scholarship</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <% include partials/nav.ejs%> 
      <hr>
    <h1>
          <em>SIA Youth Scholarship</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            SIA Youth Scholarship in Singapore  invites applications from students who have passed their class 10 in
                            and are willing to study at Pre-University 2-years studies in selected Singapore Junior Colleges in the year .
                        


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Be a national of India</li>
<li>Be born between 2000 and 2002</li>
<li>Have passed class 10</li>
<li>Possess outstanding academic track record</li>


</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply for the scholarship online through following steps -
Step 1: Visit the online application system. 
Step 2: Click on 'Register' button.
Step 3: Select the scholarship for applying and continue. 
Step 4: Fill in all the required details and register. 
Step 5: Log in using registered email id and password to complete the application process. 
 Step 6: Finally submit the application form. 
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>
The scholarship covers -
Annual allowance with hostel accommodation 
Settling-in allowance
Return economy class air passage
Coverage of school fees
</pre>

</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://internet.siemens.co.in/scholarship/UI/Forms/Home.aspx">link to official website</a></a></p>



                                    

                            
</body>
</html>