<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>A-STAR India Youth Scholarship </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 
      <hr>
    <h1>
          <em>A-STAR India Youth Scholarship </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                        A-STAR India Youth Scholarship  invites applications from students who have passed their class 8 in  
                        and are willing to study at selected Singapore schools at Secondary 3 level in . 
                        


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Be a national of India</li>
<li>Be born between 2002 and 2004</li>
<li>Have passed class 8 </li>
<li>Have scored at least an average of 80% or minimum 'A' with English as the first language in class 7 and 8 final examinations </li>
<li>Possess a high level of competency in the English Language (both oral and written). </li>

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply for the scholarship online through following steps -
Step 1: Visit the online application system. 
Step 2: Click on 'Register' button.
Step 3: Select the scholarship for which applying and continue. 
Step 4: Fill in all required details and register. 
Step 5: Log in using registered email id and password to complete the application process. 
Step 6: Finally submit the application form. 
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>
Annual allowance with hostel accommodation 
Settling-in allowance
Return economy class air passage
Coverage of GCE-O Level and A-Level examination fees (only once, if applicable)
Subsidised medical benefits and accident insurance cover
    </pre>   

</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://internet.siemens.co.in/scholarship/UI/Forms/Home.aspx">link to official website</a></a></p>



                                    

                            
</body>
</html>