<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NBHM Scholarship for Post Graduate Studies in Mathematics  </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>NBHM Scholarship for Post Graduate Studies in Mathematics </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            NBHM Scholarship for Post Graduate Studies in Mathematics  invites applications 
                            from graduates or postgraduate students for pursuing studies leading to a masters degree in mathematics. 
                        


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>He/she must hold a first class BA/BSc degree in mathematics or at least second class BA(Hons.)/BSc(Hons.) degree in mathematics.</li>
<li>He/she must be in the final year of BA/BSc programme which is expected to be completed by July  with a first class (in case of an honours program, at least a second class is required). </li>
<li>He/she must have a good academic record and have completed or expect to complete one year of MSc programme in Mathematics by July . </li>
<li>He/she must have completed or expect to complete the 3 or 4 years of a five-year integrated MSc programme in Mathematics by July  with cumulative marks/grade equivalent to a first class. </li>


</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply for the scholarship by post through following steps -
Step 1: Prepare the application in the prescribed format on a plain paper. 
Step 2: Affix recent passport size photograph and attach a self-addressed envelope. 
Step 3: Send the duly filled application with its envelope super-scribed as NBHM MA/MSc
Scholarships to the Zonal Coordinator of the zone in which the applicant wants to appear 
for the written test at addresses mentioned below -
Zone 1
Prof. Gurmeet Kaur Bakshi 
Department of Mathematics,
Punjab University,
Hans Raj Gupta Hall,
Chandigarh - 160 014.
Email: gkbakshi@pu.ac.in
Zone 2
Prof. Kalyan Chakraborty 
Harish-Chandra Research Institute,
Chhatnag Road, Jhusi,
Allahabad - 211 019.
Email: kalyan@hri.res.in
Zone 3
Prof. Siddhartha Bhattacharya 
School of Mathematics,
Tata Institute of Fundamental Research,
Homi Bhabha Road, Colaba,
Mumbai - 400 005.
Email: siddhart@math.tifr.res.in
Zone 4
Dr. Mrinal Nandi 
Department of Statistics,
West Bengal State University,
Berunanpukuria, Malikapur,
Barasat, 24 Parganas North,
Kolkata - 700 126.
Email: mrinal.nandi1@gmail.com
Zone 5
Prof. S. Kesavan 
C/O Institute of Mathematical Sciences,
CIT Campus, Taramani,
Chennai - 600 113.
Email: kesh@imsc.res.in
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
        The selected scholars will receive INR 6,000 per month for a two-year period duration of the PG programme.
         For students, who are in the final year of MA/MSc or five-year integrated MSc programme, the scholarship will be given for one year only
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://internet.siemens.co.in/scholarship/UI/Forms/Home.aspx">link to official website</a></a></p>



                                    

                            
</body>
</html>