<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> M-Scholarship</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
	<% include partials/nav.ejs %>
      <hr>
    <h1>
          <em> M-Scholarship  </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            M-Scholarship, a Magma CSR initiative, announces scholarships for 50 undergraduate students
                             who have scored a minimum of 80% marks in their class 12 for their undergraduate studies. 
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
                                    <p>
                                    <ul><li>Applicant should be aged between 15-20 years of age. </li>
                                    <li>Must be a national of India</li>
                                    <li>Should have monthly family income less than INR 10000</li>
                                    <li>Must have scored minimum 80% in class 12 arts stream and 85% in Commerce/Science stream.</li>
                                    
 
                                    </li>
                                    </ul></p>
                                    <h2>
                                        <hr>
                                          <strong>  BENEFITS:
                                          </strong>
                                            </h2>
                                            <p>
                                                    M-Scholarship  provides financial assistance of INR 20,000-50,000/annum for pursuing undergraduate studies.
                                            </p>
                                    <h2>
                                        <hr>
                                        <strong>How to apply</strong>
                                    </h2>
                                    <p>
                                            The eligible candidates need to mail all their qualification and income details at csr@magma.co.in

                                    </p>
                                    <h2>
                                        <hr>
                                        <strong>Documents Required:</strong>
                                    </h2>
                                    <p>
                                        <pre>
•Aadhar card and 2 photographs
•Class 12 mark sheet 
•College admission proof 
•Self-written application letter for scholarship
•Income certificate of household 
•Cancelled cheque
                                                
                                                
                                        </pre>
                                    </p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://magma.co.in/about-us/activities/csr-activities/m-scholarship-magma-fincorp/">link to official website</a></a></p>



                                    

                            
</body>
</html>