<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jawahar Navodaya Vidyalaya Selection Test Against Vacant Seats (for class 11) </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Jawahar Navodaya Vidyalaya Selection Test Against Vacant Seats (for class 11) </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Jawahar Navodaya Vidyalaya invites application from class 10 passed students for the fulfillment of vacant seats of class 11.
                         The key objective of the scheme is to provide quality modern education to the talented children, predominantly from rural areas. 


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>An applicant must be a class 10 passed out student in the year -18 from a Govt./Govt. recognized school in the same District/State where JNV is functioning and the student is seeking admission.    </li>
<li>The applicant must be born between 1st June 2000 and 31st May 2004 ( both days inclusive).</li>


</ul>
</p>
<h2>
    <hr>How to appky</strong>
</h2>
<p>
    <pre>
Step 1: Click here to start the registration process.
Step 2: Once registered, login to proceed to the application page.
Step 3: Fill in the details required in the application form & upload the required documents.
Step 4: Select your preferred choice of Jawahar Navodaya Vidyalaya.
Step 5: Click on submit to complete the application process. 
            

    </pre>
</p>
<h2>
    <hr>
    Benefits
</h2>       
<p>
    <pre>
The deserving students will get admission for class 11 in Jawahar Navodaya Vidyalaya.
The selected students will be able to receive education, boarding and lodging facilities for just INR 600 per month
            </pre>
</p>                                         
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://metdelhi.org/wp-content/uploads/2018/07/New-IsDB-Application-Form-2018.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>