<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>G.P. Birla Education Foundation Scholarship </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>G.P. Birla Education Foundation Scholarship </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            G.P. Birla Education Foundation Scholarship  invites applications from meritorious of students of West Bengal, who have passed their class 12 examinatio
                            The scholarship aims at promoting education, developing human resources and empowering the youth of the country. 
                        


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Be a domicile of West Bengal</li>
<li>Have passed class 12  </li>
<li>Have scored 80% marks or more in class 12 from state board or 85% or more from the central board</li>
<li>Be continuing studies in any stream including Humanities, Science, Medicine, Engineering, Architecture, Law, Commerce, Company Secretaryship, Cost Accountancy and Chartered Accountancy course from a recognized Indian University/Institution. </li>


</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply for the scholarship through the post with following steps -
Step 1: Download the application form.
Step 2: Fill in all the details.
Step 3: Attach the required documents.
Step 4: Send it to the given address:
G.P. Birla Educational Foundation, 78, Syed Amir Ali, Avenue, Kolkata - 700019
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>
A total of 100 students will receive the scholarship every year under this program that includes -
Scholarship up to INR 50,000 per annum covering the tuition fees and hostel fees (where applicable). 
A one-time payment of INR 7,000 towards the purchase of books in the first year of the course. 
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://internet.siemens.co.in/scholarship/UI/Forms/Home.aspx">link to official website</a></a></p>



                                    

                            
</body>
</html>