<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bighelp National Merit Scholarship  </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Bighelp National Merit Scholarship </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Bighelp National Merit Scholarship  invites applications from meritorious students who passed their class 10 from a government public school.
                            The key objective of the scholarship is to help poor,but meritorious students of class 10 who have studied in a government public school


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Have studied at a Government/Municipal/Zilla Parishad School in India s</li>
<li>Have passed class 10 in the academic year -18 with GPA 9.8 or above or 98% marks or above </li>
<li>Have annual family income less than INR 1,00,000</li>
<li>Not hold agricultural land more than one acre </li>


</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply for the scholarship through following steps -
Step 1: Click here to download the application form and take out its print. 
Step 2: Fill in all required details. 
Step 3: Send the application form along with necessary documents by post to -
BIGHELP FOR EDUCATION, 16 H.I.G.H (Duplex), APHB, BALAJINAGAR, KUKATPALLY, 
HYDERABAD–500072
Note: Students can also send a scanned copy of the duly filled application 
form along with the supporting documents on email to scholarships@bighelp.org
terms and conditions and submit the form
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
<pre>
The selected scholars will receive INR 5,000 per annum for up to 6 years (Up to INR 30,000)
or until they receive their graduation or technical degree, whichever is earlier. 
</pre>

</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://internet.siemens.co.in/scholarship/UI/Forms/Home.aspx">link to official website</a></a></p>



                                    

                            
</body>
</html>