<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RGIPT M.Tech Fellowship  </title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>RGIPT M.Tech Fellowship  </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>RGIPT M.Tech Scholarship  invites applications for admission in the two-year M.Tech program in Petroleum and Chemical engineering.
                         The aim is to provide financial assistance to meritorious B.Tech and B.E students and offer them the opportunity to develop their knowledge and skills
                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Hold a 4-year B.Tech or B.E degree in Petroleum Engineering with minimum 60% marks or CPI 6.0(for SC/ST students CPI 5.5 or 55% marks)</li>
<li>Have qualified GATE exam  </li>


</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Follow the steps to apply online:
Step 1: Pay an online fee or bank challan to get a reference number.
Step 2: Click here to log in with the reference number.
Step 3: Fill in all the details carefully and upload the required documents.
Step 4: Submit the form.
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>
The selected candidates will receive a monthly stipend of INR 12,400 per month for four semesters only. 
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.rgipt.ac.in/M.Tech.html">link to official website</a></a></p>



                                    

                            
</body>
</html>