<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vel Tech Mahatma Gandhi National Merit Scholarship </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Vel Tech Mahatma Gandhi National Merit Scholarship  </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Dr.RR & Dr.SR University invites applications for Vel Tech Mahatma Gandhi National Merit Scholarship from students who have passed class 12th and be appearing for class 12th final.
                    The objective of the scholarship is to provide a world-class education to the students on the basis of merit rather than financial needs.
                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Candidate must have passed classed 12.</li>
<li>Candidate appearing for 10+2 (Class XII) final or equivalent examination in March / April / May  can also appear for VTUEEE .  </li>


</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Procedure to apply for the scholarship:
Step 1: Open the link to apply online.
Step 2: Register as a new applicant.
Step 3: Fill in all the details.
Step 4: Attach all the required documents.
Step 5: Pay the application fee.
Step 6: Submit the form.
Note: If a candidate needs to apply offline he/she can get the form by sending a requisition letter containing
 the full address and a Demand Draft for INR 950 drawn in favor of 'Vel Tech Dr. RR & Dr. SR University', payable 
 at Chennai to The Director – UG Admission, 400 feet outer ring Avadi, Chennai,
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>
A student who scores Above 95% will get 75% Scholarship in the Tuition Fee.
A student who scores between 90 – 94.9% will get 50% Scholarship in the Tuition Fee.
A student who scores between 80 – 89.9% will get 25% of Scholarship in the Tuition Fee.
A student who scores between 70 – 79.9% will get 10% of Scholarship in the Tuition Fee.
Scholarship for VTUEEE :
Top 20 Rank holders will get 75% scholarship in Tuition Fee
Students who scored Rank between 21 and 500 will get 50% of scholarship in Tuition Fee.
            
            
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.veltech.edu.in/">link to official website</a></a></p>



                                    

                            
</body>
</html>