<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Abdul Kalam Technology Innovation National Fellowship</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Abdul Kalam Technology Innovation National Fellowship</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Indian National Academy of Engineering (INAE) invites applications for Abdul Kalam Technology Innovation National Fellowship from outstanding engineers 
                        to encourage, support and recognize translational research and achieve excellence in innovation, engineering and technology development. 
                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Be an Indian national working in India in different capacities of engineering profession at reputed public-funded institutions. </li>
<li>Hold a bachelor's degree and an adequate professional qualification.  </li>
<li>Have minimum 5 years of service left at the parent organization as on the date of award. </li>

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
To apply for the Fellowship, the applicants need to adopt the steps -
Step 1: Download the prescribed nomination format from here. 
Step 2: The nominations should be sent by the Heads of Organisations/Institutions, Fellows/Presidents of 
National Science/Engineering Academies, SS Bhatnagar Awardees, and JC Bose Awardees. 
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>
Fellowship amount of INR 25,000 per month along with the regular income. 
Research grant of INR 15 Lac per annum to be utilized for engineering, research and innovation activities 
including consumables, manpower hiring, national/international travel for research purposes, etc. 
</pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://inae.in/abdul-kalam-technology-innovation-national-fellowship-2/">link to official website</a></a></p>



                                    

                            
</body>
</html>