<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HDFC Educational Crisis Scholarship </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>HDFC Educational Crisis Scholarship </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>HDFC Educational Crisis Scholarship  invites applications from students who are unable to bear the cost of education and are at a risk of dropping out due to a financial crisis.
                         The key objective of the scholarship is to empower individuals who are socially and economically disadvantaged.
                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>The students studying in Class 6 to 12 in government aided or private schools.</li>
<li>The students pursuing undergraduate or post-graduate (full-time or part-time) degree or diploma courses in colleges or universities recognized under AICTE/UGC/State/Central government rules.</li>
<li>The students whose family is facing an unfortunate event/crisis which has occurred in the preceding two years </li>

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
The application form can be submitted online only by following these steps:
Step 1: Visit the HDFC ECSS scholarship site here
Step 2: Then click on "To apply for ECSS, click here"
Step 3: Click on "Apply" and fill in all the required information and upload the supporting documents.
Step 4: Submit the application form
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>
For selected candidates, the scholarship will cover the total annual school fee up to a maximum of INR 10,000 and 
college/university fee up to a maximum of INR 25000.
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://app.goodera.com/#/grant/application/527/open-task/15915/org/1008/details">link to official website</a></a></p>



                                    

                            
</body>
</html>