<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Financial Assistance for Education of the Wards of Beedi/Cine/IOMC/LSDM Workers - Post-Matric </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Financial Assistance for Education of the Wards of Beedi/Cine/IOMC/LSDM Workers - Post-Matric</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Financial Assistance for Education of the Wards of Beedi/Cine/IOMC/LSDM Workers - Post-Matric  invites applications from students enrolled in class 11 to post-graduation from government institute.
                        The students studying ITI courses from any government colleges can apply also.
                        The main objective of this scheme is to ensure no child is working in any hazardous sector as a labour.
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>The applicant must be enrolled in class 1 to 10 at a government recognized schoo</li>
<li>One or both the parent of the applicants should be working as a Beedi worker, Iron Ore Manganese & Chrome Ore Mines (IOMC) worker, Limestone & Dolomite Mines (LSDM) worker, Cine worker from at least last six months</li>
<li>The monthly income of the family must not exceed INR 10,000 from all the sources except Cine worker where the income must not exceed INR 8,000 per month or INR 1,00,000 per annum </li>

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply for the scholarship through following steps -
Step 1: Click on New Student? Register Here
Step 2: Select the state of domicile, select the name of the scholarship the student is applying for, 
select scheme type, write the name, date of birth, mobile number, gender, email ID
Step 3: Provide the bank details (Bank name, IFS Code, Account Number)
Step 4: The mobile number will be verified and an OTP will be generated
Step 5: Login using OTP and fill the form
Step 6: An application ID and password will be generated. Use that for the future references
Note: All the applicants are advised to fill the form correctly, no changes can be made once submitted. 
The applicants are also advised to fill only one application as multiple applications will lead to the 
cancellation of the form.
            
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>

Girls and boys of class 1 to 5 will receive INR 250 for the purchase of dress/books etc
Girls of class 5 to 8 will receive INR 940
Boys of class 5 to 8 will receive INR 500
Girls of class 9 will receive INR 1140
Boys of class 9 will receive INR 700
Girls of class 10 will receive INR 1840
Boys of class 10 will receive INR 1400

    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://scholarships.gov.in/fresh/loginPage">link to official website</a></a></p>



                                    

                            
</body>
</html>