<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post-Matric Scholarship for Schedule Tribe Students, Nagaland  </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Post-Matric Scholarship for Schedule Tribe Students, Nagaland </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Post-matric Scholarship, Nagaland  invites applications from Schedule Tribe students studying in Class 11 to post-graduation.
                         The scheme aims to improve the level of literacy and education of the students by providing financial help to pursue higher studies.
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>The students must be studying in Class 11 to post-graduation.</li>
<li>The annual income of the family must not be more than INR 2.5 lakh.</li>
<li>The student should belong to Schedule Tribe community.  </li>

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
How can you apply ?
The candidates have to follow these steps in order to apply:
Step 1: Go to the website.
Step 2: Register as a new user or login if already registered.
Step 3: Click on Go to Online Services.
Step 4: Select the scheme from Directorate of Higher Education menu.
Step 5: Completely fill out the form and submit.
Step 6: Take a printout of the form and submit it to the institution. The institution will then prepare 
Annexure IV and submit the entries to the Directorate of Higher Education.
            
            
            
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>

The selected students will receive variable award against their study.
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.nagaland.gov.in/portal/portal/StatePortal/OnlineService/PostSTFreshService">link to official website</a></a></p>



                                    

                            
</body>
</html>