<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SOF Scholarship of Excellence In English (S.E.E)  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs %>
      <hr>
    <h1>
          <em>SOF Scholarship of Excellence In English (S.E.E)  </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            SOF Scholarship of Excellence In English (S.E.E)  invites applications from meritorious students of class 1 to 10.
                             It is a one-time scholarship that aims at recognizing and rewarding excellence in the English language among school students in India. 
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
                                    <p>
                                            An applicant must-
                                    <ul><li>Be a student studying in class 1 to 10 </li>
                                    <li>Have scored at least 90% marks or equivalent grade in English subject in annual aggregate in the previous class</li>
                                    <li>Have scored at least 85% or equivalent grades in previous year's exams as aggregate</li>
                                    
                                    
 
                                    </li>
                                    </ul></p>
                                    <h2>
                                        <hr>
                                          <strong>  BENEFITS:
                                          </strong>
                                            </h2>
                                            <p>
                                                    A total of 120 students will be selected from all across India under this scholarship scheme.
                                                    Each selected scholar will receive a one-time scholarship of INR 5000 and a merit certificate
                                                    to recognize his/her excellence in the English language. 
                                            </p>
                                    <h2>
                                        <hr>
                                        <strong>How to apply</strong>
                                    </h2>
                                    <p>
                                            The application for the scholarship should be made by the schools through prescribed recommendation format.
                                             Only schools that are a participant in the IEO being held in October  can send the recommendations.
                                            Note: Each school may recommend only one student.
                                            What are the selection criteria ?
                                            A Committee is set up by the Science Olympiad Foundation (SOF) for the evaluation of all the recommendations received and selections are being made on the basis of student's merit. 
                                            

                                    </p>
                                    <h2>
                                        <hr>
                                        <strong>Terms and Conditions:</strong>
                                    </h2>
                                    <p>
                                        <pre>
•All the recommendations sent should be duly signed by the Head Master/Head Mistress/Principal.
•All the winners will be notified through respective schools and individually. 
•The selected scholars will receive the scholarship in the form of a cheque that will be dispatched to the school address. 
                                                
                                                                    
                                                
                                        </pre>
                                    </p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.sofworld.org/scholarship-for-excellence-in-english-see">link to official website</a></a></p>



                                    

                            
</body>
</html>