<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>National Overseas Scholarship for Minority Community Students, Karnataka </title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>National Overseas Scholarship for Minority Community Students, Karnataka </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>National Overseas Scholarship for Minority Community Students, Karnataka  invites applications from Graduates, Postgraduates and PhD Scholars from the state of Karnataka. 
                        The scholarship aims to provide financial assistance of INR 20 Lacs to students from minority communities who wish to go abroad for higher studies.
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>The applicant must be a domicile of Karnataka.</li>
<li>The applicant must also belong to Muslim, Christian, Jains, Sikhs, Buddhist or Parsi community.</li>
<li>The age of the applicant must be below 38 years from the date of commencement of course.

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Step 1: Click here to download the application form.
Step 2: Fill in the required details to complete the application form.
Step 3: Enclose the required documents along with application form in an envelope with heading 
“NATIONAL OVERSEAS SCHOLARSHIP FOR MINORITIES ”.
Step 4: Post the application form on the below mention address.
Directorate of Minorities,
20th Floor, V.V.Towers, Vidhana Veedhi Road,
Bangalore – 560001
            
            
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>

The eligible students can get total scholarships up to INR 20 lacs per annum for maximum 2 years depending 
on the annual income of their family.
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://gokdom.kar.nic.in/Documents/Latest News/NOSApplication201819.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>