<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AMP Higher Education Scholarship Fund </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>AMP Higher Education Scholarship Fund</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>AMP Higher Education Scholarship Fund  invites applications from needy Muslim students who are pursuing graduation in professional courses from top universities or colleges of India.
                     The main objective of this scholarship is to provide financial help to needy students for pursuing higher and technical education.     <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Students having passed class 12 or equivalent from any board are eligible to apply.</li>
<li>Students pursuing higher education in professional courses like medical, law, journalism, engineering, preferably from top universities or colleges, will be given preference.</li>
<li>Students should be eligible to receive Zakat under Sharia guidelines.

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
In order to apply, follow the steps mentioned below:
Step-1: Click here to register for the scholarship.
Step-2: Fill in the application form.
Step-3: Submit the application form.
Step-4: Email the scanned copy of all the necessary documents to scholarships@ampindia.org.
             
            
            
            
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>

     Selected students will receive up to 100% scholarship per year as per their need.
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.ampindia.org/HigherEducationScholarshipForm">link to official website</a></a></p>



                                    

                            
</body>
</html>