<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SHDF Scholarship  </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>SHDF Scholarship </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Nishkam Sikh Welfare Council and Sikh Human Development Foundation, USA invites applications for Nishkam Sikh Welfare Council, SHDF Scholarship . Scholars will be selected by a written test, followed by an Interview,
                     however, the scholarship will be granted to those only who have taken admission in a professional course in recognized Institute     <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Candidate must be class 12 pass and above</li>
<li>The candidate must have secured 60% marks or more in the previous examination.</li>
<li>Total family income of the candidate is equal to or less than INR 12,500 per month or INR 1,50,000 per year

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
The application can be done by post only with the following steps:
Step 1: Click here to read the details before applying
Step 2: Take a print of Application form
Step 3: Completely fill the application form in block letters (English) in own Handwriting
</pre>
</p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://nishkam.in/">link to official website</a></a></p>



                                    

                            
</body>
</html>