<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>INSEAD Deepak & Sunita Gupta Endowed Scholarships </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%>  

      <hr>
    <h1>
          <em>INSEAD Deepak & Sunita Gupta Endowed Scholarships  </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>INSEAD Deepak & Sunita Gupta Endowed Scholarships  program is an initiative to provide monetary assistance to outstanding but financially deprived MBA candidates from all over the world. 
                        It aims to develop the manpower to create a well structured socio-economic scenario.   <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Be enrolled in the INSEAD MBA program</li>
<li>Belong to an emerging/developing nation</li>
<li>Demonstrate proven financial need

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply online through following steps -
Step 1: Click here to register.
Step 2:  Once registered, log in using registered user id and password. 
Step 3: Fill in all required details. 
Step 4: Upload supporting documents. 
Step 5: Finally submit the application form. 
            
</pre>
</p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://sites.insead.edu/mba/schlmgmt/index.cfm?fuseaction=dsp_register&show=1">link to official website</a></a></p>



                                    

                            
</body>
</html>