<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Capital First MBA Scholarships </title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%>  

      <hr>
    <h1>
          <em>Capital First MBA Scholarships </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Capital First MBA Scholarships -20 invites applications from graduate students who are going to pursue an MBA degree program or equivalent in the academic year .
                       The scholarship aims to aid the persistence and access to higher education to students by providing them meaningful financial support. 
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Be a citizen of India</li>
<li>Be pursuing/applying to an MBA degree program or equivalent at a reputed institution in India during the academic year </li>
<li>Have annual family income less than INR 6 Lac from all sources 

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply for the scholarship through the following steps:
Step 1: Go to the link.
Step 2: Login/Register using Facebook, Google Plus or Email account. 
Step 3: Once signed in, click on 'Start Application' to start filling the form. 
Step 4: Fill in all the details and upload the required documents.
Step 5: Finally, click on 'Submit'.



            
             
            
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>

A total of 110 scholarships of INR 1 Lac per annum to each student will be provided to students fulfilling the eligibility criteria. *
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://gokdom.kar.nic.in/Documents/Latest News/NOSApplication201819.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>