<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The G.S.B. Scholarship  </title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%>  

      <hr>
    <h1>
          <em>The G.S.B. Scholarship  </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>The G.S.B Scholarship  is a scholarship program for the needy students belonging to the Saraswat community.
                         It provides financial assistance to the needful and deserving students of Class 5 to graduate level. 
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Students must be from the Gaud Saraswat Brahman community.</li>
<li>School students studying in Class 5 to 10 can apply. </li>
<li>Students in degree programme (BA/BSc/BCom) and Diploma are also eligible to apply

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Step 1: To receive the application form, the applicant must send a request to the League's office or collect it in person from:
The GSB Scholarship League 
Dwaraknath Bhavan 
Katrak Road, Wadala
Mumbai - 400031
Step 2: Then, fill in the form, attach the required documents and send it by post or deliver it by hand to the League's office.

</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>

The amount of the scholarship is decided by the Managing Committee as per the availability of funds. 
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://gokdom.kar.nic.in/Documents/Latest News/NOSApplication201819.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>