<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Azim Premji University Undergraduate Scholarship </title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%>  

      <hr>
    <h1>
          <em>Azim Premji University Undergraduate Scholarship  </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Azim Premji University Undergraduate Scholarship -21 invites applications from bachelor's degree applicants.
                         The objective of the scholarship is to provide financial assistance to students.  
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Applicant should have passed or given 12th board exams. </li>
<li>Applicant appearing for his/her final examination by June  is also eligible. </li>
<li>Applicant should have scored at least 50% marks in class 12th board exams. 

</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Step 1: Applicant can click here to register as a new user. 
Step 2: Login to fill the application form. 
Step 3: Fill the application form.
Step 4: Upload the required documents. 
Step 5: Submit the application form. 
</pre>
</p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://gokdom.kar.nic.in/Documents/Latest News/NOSApplication201819.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>