<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nurturing Talent Programme </title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Nurturing Talent Programme  </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>DLF Foundation provides educational scholarship, allied coaching and training to meritorious and underprivileged students right from class VI to class XII.
                        The Scholar guidance cell also hand holds them towards a successful career by undertaking various talent nurturing activities.
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
        •	Wards of an employee or any third party associate, who fulfils the income and eligibility criteria,
        can apply for the scholarship provided he/she is already enrolled in Class VI, VII, VIII, IX, X & XI.
</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply for the scholarship through the following steps -
Step 1: Go to the link.
Step 2: Login/Register using Facebook, Google Plus or Email account. 
Step 3: Once signed in, click on 'Start Application' to start filling the form. 
Step 4: Fill in all the details and upload the required documents.
Step 5: Finally, click on 'Submit'. 
Note: The applicants also need to download the application form and send the duly filled hard copy of application form to DLF Foundation office. 


</pre>
</p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://gokdom.kar.nic.in/Documents/Latest News/NOSApplication201819.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>