<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Joining Hands Higher Education Scholarship Program </title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Joining Hands Higher Education Scholarship Program  </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Joining Hands Higher Education Scholarship Program  invites applications from undergraduate, postgraduate and professional course applicants. 
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
        <li>An applicant for the undergraduate course must have cleared Class 12th with a minimum score of 60%.</li> 
        <li>An applicant for the postgraduate course must hold a bachelor's degree</li>
        <li>Applicant must come from the lower income group.</li>
    </ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Step 1: Applicant can click here to download the application form. 
Step 2: Fill the application form. 
Step 3: Attach the required documents. 
Step 4: Email the application form to info@joininghandsindia.org
</pre>
</p>

<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>
Joining Hands Higher Education Scholarship Program  provides financial assistance.
    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://gokdom.kar.nic.in/Documents/Latest News/NOSApplication201819.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>