<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Merck India Charitable Trust (MICT) Scholarship Program   </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>

<body>
        <% include partials/nav.ejs %>
      <hr>
    <h1>
          <em>Merck India Charitable Trust (MICT) Scholarship Program</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Merck India Charitable Trust (MICT) Scholarship Program  is a Merit cum Means scholarship which invites applications from class 10 passed students who have scored a minimum 80% marks.
                             With the aim to promote education to foster talent, this scholarship helps those young learners who are unable to realise their potential due to financial constraints.
 

                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
                                    <p>
                                    <ul><li>An applicant who has successfully passed class 10 (SSC) with at least 80% marks </li>
                                    <li>The family income of the applicant must be equal to or less than INR 20,000 per month.</li>
                                    <li>Only the applicants residing and studying in Mumbai, Navi Mumbai, Thane and Bengaluru</li>
                                    
                                    
 
                                    </li>
                                    </ul></p>
                                    <h2>
                                        <hr>
                                          <strong>  BENEFITS:
                                          </strong>
                                            </h2>
                                            <p>
                                                    In , 150 students will be selected and each will receive INR 35,000 annually as the scholarship amount until graduation,
                                                     based on actual tuition fees and other educational expenses incurred by the students.
                                            </p>
                                    <h2>
                                        <hr>
                                        <strong>How to apply</strong>
                                    </h2>
                                    <p>Online: Register on this link with Gmail/Facebook account and fill the 5-step form.
                                            By Post: Download the application form, fill it and send it through courier to the following address:
                                            Stellar IT Park C-25, No.8,9 & 10 Tower - I, Ground floor, Sector 62, Noida, Uttar Pradesh 201301.
                                            
                                          
                                            

                                    </p>
                                    <h2>
                                        <hr>
                                        <strong>Documents Required:</strong>
                                    </h2>
                                    <p>
                                        <pre>
•A copy of class 10 mark sheet attested by the Principal/Gazetted Officer
•One recent passport size photo of the applicant
•Proof of income or salary slip of last three months of all the family members, attested by the respective employers and
 Revenue Officer/Tehsildar/Income or income certificate of the family issued from Revenue Office
•Proof of permanent residence in Mumbai, Navi Mumbai, Thane or Bengaluru 
(Ration Card/ Voter ID/ Aadhaar Card/ Electricity Bill/ Telephone Bill)
 

                                                
                                                                    
                                                
                                        </pre>
                                    </p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.merckgroup.com/in-en/company/corporate-social-responsibility/education/mict.html">link to official website</a></a></p>



                                    

                            
</body>
</html>