<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loan for Professional/Educational/Training Courses to Disabled Persons</title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Loan for Professional/Educational/Training Courses to Disabled Persons</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>National Handicapped Finance And Development Corporation introduces Loan for Professional/Educational/Training Courses to Disabled Persons  
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
        <li>An Indian national with 40 percent or more percentage of disability.</li> 
0%        <li>Pursuing any graduate or post-graduate or professional or any other courses approved by AICTE/UGC/Government with the prospect of employment. </li>
        
    </ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Step 1- Click here to apply.
Step 2- Fill in all the details.
Step 3- Click on Submit.
Note- Submit the application in the advised format to the State Channelising Agency for the sanction of loan.
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
    <pre>
The maximum amount of loan for studies in India will be INR 10,00,000.
The maximum amount of loan for studies abroad will be INR 20,00,000

    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://gokdom.kar.nic.in/Documents/Latest News/NOSApplication201819.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>