<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dr. Radha Krishnan Scholarship, HP Board of School Education</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Dr. Radha Krishnan Scholarship, HP Board of School Education:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Himachal Pradesh Board of School Education, Dharamshala introduces Dr. Radha Krishnan Scholarship 2018 for the students who have passed Class 10 or 12 in March 2017 from the same board. The objective of this scheme to provide financial support to the talented and needy students to pursue higher education. <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>Have passed Class 10 or 12 in March 2017 from Himachal Pradesh Board of School Education.</li>
<li>Have annual family income up to INR 1,00,000 pa. </li>
<li>Have secured 65 percent or more marks in Class 10 /12 in case of meritorious and needy students. or </li>
<li>Have secured 50 percent or more marks in Class 10/12 in case of differently abled students. </li>

</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
In order to apply, follow the steps given below:Step 1: Download the form.
Step 2: Fill in all the details.
Step 3: Send the application form along with other documents to the address mentioned below:
Section Officer, Plus Two-1 and Matric-II, H.P. Board of School Education Dharamshala, District Kangra-176213
</pre>

                                          </p>
                                        
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                            <ul><li>90 percent of the scholarship will be given on the basis of need and merit and other 10 percent will be reserved for the differently abled candidates.</li>
                                                                                <li>The eligibility criteria will be based on the annual family income and percentage of marks obtained by the candidates in Class10/12.</li>
                                                                                <li>	The annual family income, as well as the percentage of marks, will bear a credit of 10 marks each.</li>
                                                                                
                                                                                </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://hpbose.org/Admin/Upload/forms/PS.RADHA.SCHOLARSHIP.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>