<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Medley Pharma Scholarship</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
    <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Medley Pharma Scholarship:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Medley Pharma Scholarship 2018 invites applications from students of class 10 onwards. The key objective of the scholarship is to eradicate illiteracy and provide scholarship opportunities to students who are unable to meet the expenses of education. Under this scheme, financial assistance will be provided to needy students regardless of their caste, creed, religion and genderThe scholarship is being offered by Medley Pharmaceuticals Limited under its Corporate Social Responsibility (CSR) activity. The maximum amount that will be sanctioned under this scheme is up to INR 10,000 for the entire programme on a non-refundable basis.An interest-free loan ranging from INR 10,000 to INR 1,00,000 will also be granted to students, which is refundable. The students need to refund the loan amount after the completion of the course within 5 years. 
                            Note: The repayment of the loan should start from six months after the completion of the course or one month after the candidate has secured employment, whichever is earlier.  
                             <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>Be a permanent resident of Maharashtra and should be pursuing a course in Maharashtra.</li>
<li> Have passed class 10 and should be studying courses under categories like Junior College, Graduation, Diploma course, Post Graduation, ITI, Management Course etc.  </li>
<li>Have scored at least 60%  marks in the last examination taken. </li>
<li>Have annual family income less than INR 2 Lac from all sources. </li></ul>
Note: Only one person from a family can apply for the scholarship.                                
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
The application can be submitted by email or by a person with  the following steps:
Step 1: Download the application form.
Step 2: Fill all required details.
Step 3: Attach the supporting documents.
Step 4: Email the form or submit it in person at -
Medley Pharmaceuticals Limited
Medley House, D‐2, MIDC Area, 16th Road, Andheri (E), Mumbai‐ 400093
Email: mail.medleylab.com
</pre>

                                          </p>
                                           

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.medleylab.com/csr/pdf/Scholarship%20form.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>