<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sindhutai Sapakal Scheme for Educating Orphans and Children with Special </title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 
      <hr>
    <h1>
          <em>Sindhutai Sapakal Scheme for Educating Orphans and Children with Special :</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            IndusInd Foundation Merit-cum-Means Scholarship 2018-19 invites applications from class 12 passed students who have secured admission in a regular degree course. The scholarship aims to financially help needy meritorious students so as to increase their employment opportunities. Who is offering this scholarship ?
                            The scholarship is being provided by the IndusInd Foundation.The selected students will receive a scholarship of up to INR 1500 per month. </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>The student must have passed class 12 or equivalent exam in 2018 with at least 85% marks on the aggregate from an approved Board/University.</li>
<li> The student must have taken admission in a regular degree course of a recognised university in India.   </li>
</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Step 1: Click here to download the application form.
Step 2: Fill in the application form.
Step 3: Attach all the necessary documents.
Step 4: Now, send the completed form along with all the documents at the address mentioned below:
The Trustee 
IndusInd Foundation 
Hinduja House
171, Dr. Annie Besant Road
Worli, Mumbai- 400018
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <pre>
•	Proof of age
•	Proof of passing class 12th or equivalent exam
•	Mark sheet issued by the Board/Certificate from Principal of Jr. college last attended
•	Proof of admission showing the student is the bonafide student for the academic year
•	Proof of monthly family income 
•	Proof of fee payment/hostel fee
•	Recent passport size photograph
                                                        
                                                </pre>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                            <ul><li>Write a career plan to be attached with the application form.</li>
                                                                                <li>The selected students will receive scholarship initially for one year, which will be continued till the completion of the first graduation if the academic performance of the student is excellent and there is no break in the studies.</li>
                                                                                <li>	The financial position of the family justifies grant of scholarship.</li>
                                                                                <li>The scholarship will be suspended in case of any false information provided in the application form.</li>
                                                                                <li>The IndusInd Foundation reserves the right to suspend/withdraw scholarship without any reasons.</li>
                                                                                </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.noticebard.com/sindhutai-sapakal-scheme/">link to official website</a></a></p>



                                    

                            
</body>
</html>