<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Swami Dayanand Education Foundation Merit-cum-Means Scholarships</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
        <% include partials/nav.ejs%>  

      <hr>
    <h1>
          <em>Swami Dayanand Education Foundation Merit-cum-Means Scholarships:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Swami Dayanand Education Foundation Merit-cum-Means Scholarships 2018-19 invites applications from students pursuing Engineering, MBBS, IT, Pharmacy and Architecture courses in Government or private institutes in India. The key objective of the scholarship is to inspire and transform the lives of academically brilliant and economically backward students. The scholarship is being offered by Swami Dayanand Education Foundation. A total of 200 scholarships are being offered to students under the following categories: 
                            Smt. Shyam Lata Garg Scholarships - INR 50,000 per annumSh. Anand Swarup Garg Scholarships - INR 25,000 per annum Sh. Ram Lal Gupta Scholarships - INR 20,000 per annumSmt. Lilawanti Himatlal Desai Scholarships - INR 20,000Smt. Indira Jayendrakumar Shah - INR 20,000Smt. Shanti Devi Scholarships - INR 17,500 per annumSh. Ram Ji Lal Scholarships - INR 15,000 per annum
                            Note: 30% of the total scholarships are reserved for women candidates. <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>Be pursuing an MBBS, Engineering, IT, Pharmacy and Architecture course from a government or private institution in India by passing a competitive examination conducted by Central/State Board</li>
<li>Have gross annual family income less than INR 6 Lac from all sources  </li>
<li>Have secured 85% marks in class 12   </li>
<li> Have obtained minimum 25,000 rank in JEE (Main) or minimum 10,000 rank in JEE (Advanced) </li>
<li>Have obtained a Grade Point Average of at least 7.5 in 10 points scale system (for students in their second or third year of graduation program)  </li>
<li> Not be in receipt or intent to receive any other financial assistance/scholarship from any other source.  </li>
<strong>Note:</strong>The students who are getting reimbursement of tuition fees/fee waiver can apply for the scholarship. 
</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
 Offline Application
In case of poor or no internet connectivity, the students can apply offline through following steps: 
Step 1: Download the application form and get its print. 
Step 2: Fill in all required details. 
Step 3: Attach all supporting documents. 
Step 4: Send duly filled application form along with supporting documents by post to- 
Scholarship Officer
Swami Dayanand Charitable Education Foundation 
K-33 (GF), Kalkaji, New Delhi-110019

        
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <pre>
•	Income certificate
•	Copy of class 10 and 12 mark sheets
•	Copy of rank card of entrance examination 
•	Copy of fee receipt submitted by the student or Admission Letter (for students who are taking admission this year)
•	Two recent passport size photograph, taken in last 6 months
•	Copy of ration card or ID proofs of parents
•	Certificate of family income/BPL certificate/ITR/Certificate from local panchayat office for proof of annual family income
•	Aadhaar ID or address proof

                                                        
                                                </pre>
                                                <h2>
                                                        <hr>
                                                          <strong>  Selection crteria:</strong>
                                                            </h2>
                                                            <p>
                                                                <ul><li>The scholars will be selected on the basis of their merit and family background such as the percentage of marks obtained in the course and annual income of the family.</li>
                                                                    <li>The preference will be given to students with lowest family income in the ascending order. </li>
                                                                    <li>The selection process involves two key stages </li>
                                                                    <li>Stage 1: Registration for Scholarship</li>
                                                                    <li>Stage 2: Submission of required documents of shortlisted candidates</li>
                                                                    </ul>


                                                            </p>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                            <ul><li>The shortlisted candidates will be intimated through email or at the address mentioned in the form. </li>
                                                                                <li>Once the intimation is received, the shortlisted candidates are required to submit the detailed application along with the copies of required certificates. </li>
                                                                                <li>	The shortlisted candidates also have to submit an essay in  500 words on "About Challenges You Have Faced in Life and How You Have Responded to Them"</li>
                                                                                <li>The essay should be written either in Hindi or in their mother tongue. </li>
                                                                                <li>The scholarship amount will be paid in two instalments. </li>
                                                                                </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://scholarship-positions.com/swami-dayanand-education-foundation-4th-merit-cum-means-scholarships-india/2018/07/05/">link to official website</a></a></p>



                                    

                            
</body>
</html>