<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yashad-Sumedha Scholarship Programme</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Yashad-Sumedha Scholarship Programme':</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Yashad-Sumedha Scholarship Programme 2018 is a merit-cum-means scholarship which invites applications from students who are studying in B.Tech 1st semester. The scholarship aims to provide financial assistance to those talented students who belong to economically deprived section of the society.The scholarship is being provided by Sumedha in partnership with Hindustan Zinc Limited, Udaipur. Sumedha is a non-profit society founded in 1998 to support talented children of poor families who are deprived of higher education due to lack of resources and poverty.Selected students will receive an amount of INR 20,000 per annum as the scholarship. The scholarship will continue till the four years of the B.Tech study only if the student maintains first division marks.<h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>Applicants must be studying in the 1st semester of B.Tech in any government college.</li>
<li> Applicants must be the permanent residents of Udaipur, Rajsamand, Chittorgarh, Bhilwara and Ajmer districts of Rajasthan.  </li>
<li>Applicants must have scored a minimum 75% in the senior secondary examination.</li>
<li>The annual family income must not be more than INR 2.5 Lacs.</li>
</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Application process:
Step 1: Click here to start the application process.
Step 2: Read the instruction carefully before applying, then click on 'Next' to proceed.
Step 3: Sign up to register as a new user.
Step 4: Now, sign in using the login ID and password.
Step 5: Click on 'Fresh Apply' to open the application form.
Step 6: Fill the application form and save the details.
Step 7: Now, download the completed application and send it along with required documents at the address mentioned below:
Sumedha, 
5 Keshav Vihar, 
Gopalpura Bypass Road, 
Jaipur- 302018.
<strong>Note:</strong>> The form has to be sent by the  Head of the Institution where the student is studying.
        
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <pre>
•	A self-attested copy of 10th mark sheet
•	A self-attested copy of last semester/year's mark sheet
•	Photos of the applicant (5)
•	A copy of Pension's Payment Order (P.P.O.) (if applicable)
•	Income certificate
•	Death certificate, if applicable
•	A copy of BPL card, if applicable
•	A copy of ration card
•	A copy of the cover of bank passbook
•	A copy of fee receipt
                                                        
                                                        
                                                </pre>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                                Students belonging to BPL families, orphans, single parent-child and girls will be given preference during the selection process.
                                                                        </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.sumedha.org/yashad-sumedhascholarship/apply.php">link to official website</a></a></p>



                                    

                            
</body>
</html>