<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>North South Foundation (NSF) Scholarship</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>North South Foundation (NSF) Scholarship:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            North South Foundation (NSF) Scholarship 2018-19 invites applications from class 12 passed students entering into engineering, medicine or 3-year polytechnic (diploma in engineering). The scholarship aims to provide financial assistance of up to INR 25,000 to deserving students on the merit-cum-means base.
                                    The scholarship is being provided by the North South Foundation based in Illinois, United States of America.
                                    The deserving students will be awarded annual scholarships of up to INR 25,000.</p>
                                    <hr>
                                      
                                   <h2> <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>A student should be among the top 10% in class 10 & 12 & CET/JET ranks in his/her state.</li>
<li> Have secured admission to professional courses like Engineering, Medical, Dental, Polytechnic, B.Sc (Agr), B.V.Sc etc. in a government or government-aided college.  </li>
<li>   The annual family income of the student should be less than INR 1,00,000.</li></ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Step 1: Click here to open the online application page.
Step 2: Fill in required details to register with the North South Foundation.
Step 3: Click on the account activation link sent to your email address to complete the registration.
Step 4: Login using your credential.
Step 5: Click on “File new Submission” button to start the application.
Step 6: Fill in required details & upload the required documents to complete the process.
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <pre>
•	College Admission Card
•	CET/JEE/NEET rank card
•	Bonafide certificate from the college into which student secured admission.
•	Certificates showing marks secured from class 10th to 12th duly attested.
•	Proof of tuition fees paid /payable annually duly certified by college authorities.
•	Income Certificate issued by a Revenue Official or any other competent authority.
•	Ration card / Aadhar card
•	Two passport size photographs
•	One family photo with their family standing in front of the house they live in.
•	Reservation Class card duly certified, if the entrance exam rank card does not have the reservation class.
                                                        
                                                        
                                                </pre>
                                                <h2>
                                                        <hr>
                                                        <strong>Selection criteria: </strong>
                                                        </h2>
                                                        <p>
                                                                The applications will be reviewed by the Indian Chapter Coordinator (ICC) who will shortlist the candidates for a personal interview.The shortlisted candidates along with their parentswill be interviewed by the ICC & selection panel who will send their recommendations to NSF India coordinator in the Hyderabad.The final decision will be made by the NSF India coordinator & US scholarships team on the merit-cum-means basis.
                                                        </p>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                            <ul><li>Only online applications will be considered for the scholarship..</li>
                                                                                <li>The incomplete applications will not be considered.</li>
                                                                                <li>	The selection will be strictly on merits regardless of religion, caste, gender or geographic origin of the student</li>
                                                                                <li>The winners will receive their scholarships in an award ceremony organized in their honour by the NSF.</li>
                                                                                <li>The NSF supports the student through the entire course of study.</li>
                                                                                <li>For renewal of scholarships, students are required to fill in a different form instead of the fresh application on the portal.</li>
                                                                                </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.northsouth.org/public/india/scholarships.aspx">link to official website</a></a></p>



                                    

                            
</body>
</html>