<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nirankari Rajmata Scholarship Scheme'</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Nirankari Rajmata Scholarship Scheme':</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Nirankari Rajmata Scholarship Scheme 2017 provides financial assistance to meritorious students to pursue Professional and Technical Courses in Graduation and post-Graduation courses. Preference will be given to those candidates who are excel in sports and cultural activities at State/National Level.<h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<pre>
•	Must be class 12 pass and secured 90% or more in class 12 board examination
•	Must have an offer of admission in following subjects at college level recognized by the State/Central Government
o	BSc in Medicine in Allopathic, Ayurvedic, Homeopathic
o	BE/BTech/BArch
o	MBA/PGDM
o	Chartered Accountancy, have qualified CPT
o	CFA qualified
o	Have passed entrance test for LLB
        </pre>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
The application can be done by email only with the following steps:
Step 1: Download the application form from here
Step 2: Completely fill the form
Step 3: Attach the following document:
•	Family annual income certificate
•	The proof of admission in any University/Educational Institute
•	Mark Sheets of all previous academic qualifications
•	Proof of latest fee including Tuition, Library, Hostel, Books, etc
•	A certificate by the institution stating the candidate is not receiving a scholarship from any other source
•	A copy of any residential proof
•	Bank account statement of father/mother/self for the last six months
•	A copy of passbook and a cancelled cheque of the candidate name
Step 4: Email the application form along with the documents mentioned above to educationdept@nirankarifoundation.org  
        
</pre>

                                          </p>
                                            
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://nirankarifoundation.org/nirankari-rajmata-scholarship-scheme-2018-19/">link to official website</a></a></p>



                                    

                            
</body>
</html>