<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>J C Bose National Fellowship (Science & Engineering Research Board) </title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
        <% include partials/nav.ejs %>
      <hr>
    <h1>
          <em>J C Bose National Fellowship (Science & Engineering Research Board) </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Science & Engineering Research Board (SERB) India invites applications for J C Bose
                             National Fellowship (Science & Engineering Research Board)  from active scientists and science academics.
                             This fellowship is awarded in recognition for the outstanding performance of active scientists. 
 

                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
                                    <p>
                                    <ul><li>The fellowship is open to active scientists with outstanding performance apparent from the fellowship of 
                                             science academies and the award of SS Bhatnagar prize.</li>
                                    <li>The upper age limit to apply for nomination is 68 years.</li>
                                    <li>The candidate must acquire a regular position in an Institute,
                                        Organization and should be engaged in research at the time of nomination. </li>
                                        <li>The candidate must be a national of India working in an Indian institution. </li>
                                    
                                    
 
                                    </li>
                                    </ul></p>
                                   
                                    <h2>
                                        <hr>
                                        <strong>How to apply</strong>
                                    </h2>
                                    <p><pre> 
To apply for the scholarship:
Step 1: Open the link to apply.
Step 2: Register as a new user if not registered already otherwise login as an existing user.
Step 3: After log-in, go to Menu then click on Proposal Submission and then Form Submission.
Step 4: Fill in all the details.
Step 5: Attach all the required documents.
Step 6: Submit the application form.
Note: Head of Institutions, Presidents of Science Academies
      and JC Bose Fellows will send the nominations for the fellowship throughout the year.
                                           </pre> 
                                            
                                          
                                            

                                    </p>
                                    <h2>
                                        <hr>
                                        <strong>Terms and Condition</strong>
                                    </h2>
                                    <p>
                                        <pre>
Award Details
•The selected fellows will receive a fellowship amount of INR 25,000 per month along with the regular income. 
•They will also receive an annual research grant of INR 15 Lac. 
•An overhead of INR 1 Lac per annum will be given to the host institute. 
Methodology for Selection:
A specially constituted Search-cum-Selection Committee will select the candidates periodically 
(generally twice a year) according to the fellowship scheme guidelines. 
                                                               </pre>
                                    </p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.serb.gov.in/jcresult.php">link to official website</a></a></p>



                                    

                            
</body>
</html>