<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Central Sector Scheme of Scholarship for College and University Students</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Central Sector Scheme of Scholarship for College and University Students:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            The Central Sector Scheme of Scholarship for College and University Students 2018-19 invites applications from class 12 passed students. The main objective of the scholarship is to support meritorious students from financially weaker sections by providing them financial support for their day-to-day expenses incurred while pursuing higher studies.
                            This scholarship is being offered by the Department of Higher Education, Ministry of Human Resource Development, Government of India.
                            The students selected for this scholarship are provided financial support which varies depending on the education level.At graduation level, a scholarship of INR 10,000 per annum will be provided for the first three years.At post-graduation level, an amount of INR 20,000 per annum will be provided.For 5-year professional courses, INR 20,000 per annum will be provided in the 4th and 5th year.</p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
The eligibility criteria for the scholarship are as follows
<ul>
<li>	Be pursuing a regular engineering or medical course from a college/institution recognized by the AICTE, Dental Council of India, Medical Council of India and other respective regulatory authorities </li>
<li>  Be above the 80th percentile of successful candidates in the relevant stream in class 12 for a particular examination board or equivalent.</li>
<li>Have annual family income not more than INR 8 Lac from all sources.</li>
<li>Not be receiving any other scholarship. </li>
</ul>
<strong>Note:</strong>The students of all categories can apply for this scholarship. Students pursuing degree courses through distance mode or correspondence are not eligible.
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Eligible candidates can apply for the scholarship through following steps -
Step 1: Click on New Student? Register Here.
Step 2: Select the state of domicile, select the name of the scholarship the student is applying for, select scheme type,
write the name, date of birth, mobile number, gender, email ID.
Step 3: Provide the bank details (Bank name, IFS Code, Account Number).
Step 4: The mobile number will be verified and an OTP will be generated.
Step 5: Login using OTP and fill the form.
Step 6: An application ID and password will be generated. Use that for the future references.
<strong>Note:</strong> All the applicants are advised to fill the form correctly, no changes can be made once submitted.
The applicants are also advised to fill only one application as multiple applications will lead to the cancellation of the form.
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required : </strong>
                                                </h2>
                                                <p>
                                                        The documents required for the Central Sector Scheme of Scholarship for College and University Students :
                                                    <ul>
                                                        <li>Aadhaar (in case Aadhaar is not yet assigned, alternatives like Aadhaar enrollment ID slip, voter ID card, driving license, PAN, passport etc. can be used)</li>
                                                        <li>Class 12th mark sheet</li>
                                                        <li>Income certificate</li>
                                                        </ul>
                                                </p>
                                                <h2>
                                                        <hr>
                                                        <strong>Selection criteria: </strong>
                                                        </h2>
                                                        <p>Students are selected based on the merit list as per the state allocated quota. Their applications will be verified at two distinctive levels, namely -
                                                            <ul><li>	By the Institute where the student is studying</li>
                                                            <li>By the respective State Education Board </li>
                                                              </ul></p>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                            <ul><li>The scholarship is not applicable to students pursuing a diploma course. </li>
                                                                                <li>Students belonging to reserved categories/minorities/weaker sections are eligible for reservation on the basis of merit, subject to Central Reservation Policy and internal earmarking</li>
                                                                                <li>	The applications of students which are not verified either by the Institute or by the concerned State Education Board or by both will be treated as 'Invalid'. </li>
                                                                                <li>	The total duration of the scholarship will not be exceeding 5 years.</li></ul>
                                                                        </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" https://scholarships.gov.in/NSP1718/public/faq/FAQ_DOHE.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>