<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nurture Merit cum Means Scholarship</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <% include partials/nav.ejs%> 
      <hr>
    <h1>
          <em>Nurture Merit cum Means Scholarship</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                        Nurture Merit cum Means Scholarship 2018 invites applications from students pursuing graduation.
                        It is an initiative to support meritorious graduates, belonging to the underprivileged section of the society.</p>
                                    <hr>
                                      
                                   <h2> <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>Be pursuing Graduation</li>
<li></li>Have scored 75% and above in the last exam taken</li>
<li>Have a family income less than INR 2 Lac per annum from all sources</li></ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Eligible candidates can apply for the scholarship through following steps -
Step 1: Visit the official website.
Step 2: Login/Register using Facebook, Google Plus or Email account. 
Step 3: Once signed in, click on 'START APPLICATION' to start filling the form. 
Step 4: Fill in all the details and upload the documents required.
Step 5: Click on 'Submit'.
Note: The disbursal of this scholarship award is at provider's sole discretion. 
It is an ongoing process and the provider holds the right to make changes to the scholarship. 

</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <pre>
•	Family income certificate
•	Marksheets of last qualifying examinations
•	ID Proof
                                                                                     
                                        </pre>
                                        <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.buddy4study.com/scholarship/nurture-merit-cum-means-scholarship-2018">link to official website</a></a></p>



                                    

                            
</body>
</html>