<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vidyadhan Scholarship Program</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Vidyadhan Scholarship Program</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Vidyadhan Scholarship Program 2018 invites applications from class 10 passed students from the state of Andhra Pradesh, Gujarat, Karnataka, Tamil Nadu, Telangana, Maharashtra and Kerala. 
                        The scholarship aims to provide an annual financial assistance of up to INR 6,000 for the students belonging to the economically weaker background.
                        The scholarship is being offered by Sarojini Damodaran Foundation</p>
                                    <hr>
                                      
                                   <h2> <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>A student should be among the top 10% in class 10 & 12 & CET/JET ranks in his/her state.</li>
<li>Have secured admission to professional courses like Engineering, Medical, Dental, Po•	An applicant must be a class 10/SSLC passed out from the states of Andhra Pradesh, Gujarat, Karnataka, Tamil Nadu, Telangana, Maharashtra and Keralalytechnic, B.Sc (Agr), B.V.Sc etc. in a government or government-aided college.  </li>
<li>The annual family income of the applicant should be less than INR 2 Lakhs..</li></ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Step 1: click on link to start the registration process.
Step 2: You will receive an activation email, once you have completed the registration process.
Step 3: Click on the activation link to register successfully and then login your account.
Step 4: Select the applicable scholarship according to your state.
Step 5: Fill in the required details and upload the required documents.
Step 6: Submit to complete the application process. 

</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <pre>
•	Class 10th Marksheet
•	Photograph
•	Income Certificate
</pre>
                                                <h2>
                                                        <hr>
                                                       <strong>Selection criteria: </strong>
                                                        </h2>
                                                        <p>
                                                                Sarojini Damodaran Foundation will shortlist candidates for a test/interview on the basis of their academic performance and information provided in the application form.
                                                                 The final selected of scholars will be done on the basis of test/interview conducted.
                                                        </p>
                                                                <h2>
                                                                        
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="//www.vidyadhan.org/apply">link to official website</a></a></p>



                                    

                            
</body>
</html>