<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shubh Aarambh Scholarship</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Shubh Aarambh Scholarship</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>To commemorate 70 years of operations in India, Mondelez International in collaboration with Magic Bus India Foundation has 
                        launched Shubh Aarambh Scholarship 2018 to help needy students to pursue higher education.</p>
                                    <hr>
                                      
                                   <h2> <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>Candidates who have passed Class 12th securing a minimum of 55% marks can apply for this scholarship</li>
<li>Any student whose total family income is less than INR 3 Lacs is eligible for this scholarship  </li>
<li>Students who are not availing any other scholarships are eligible</li></ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Eligible candidates can apply for the scholarship through the following steps -
Step 1: Go to the link and click on 'Apply Now'.
Step 2: Login/Register using Facebook, Google Plus or Email account. 
Step 3: Once signed in, click on 'Start Application' to start filling the form. 
Step 4: Fill in all the details and upload the documents required.
Step 5: Finally, click on 'Submit'.
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <pre>
•	Photo ID card
•	Age proof
•	Class 12 mark sheet
•	Family income proof
•	Passport size photo
•	Proof of admission

</pre>
                                                <h2>
                                            
                                                                        
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.successcds.net/Scholarships/shubh-aarambh-scholarship.html">link to official website</a></a></p>



                                    

                            
</body>
</html>