<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nirmaan Scholarship and Mentorship Program (NSMP)</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Nirmaan Scholarship and Mentorship Program (NSMP)</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Nirmaan Scholarship and Mentorship Program (NSMP) 2018 invites applications from meritorious but 
                       financially constrained students who've passed Class 12 looking to pursue graduate or professional degrees.</p>
                                    <hr>
                                      
                                   <h2> <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
        The scholarship is open to students in India who've passed Class 12 and are looking to pursue a graduate or professional degree in any field or discipline 
        </p>                            
        <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
    Follow the below steps to apply for the scholarship:
Step 1: Click here to go to the scholarship application form
Step 2: Fill in all the required details
Step 3: Submit the application form
Step 4: If selected for the interview, mail the required documents to nsmpapp@gmail.com 

</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <pre>
Following documents must be sent to nsmpapp@gmail.com if the candidate gets selected for the interview
- Income Certificate
- Ration/Family Card
- All Educational Certificates

</pre>
                                             
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.nirmaan.org/">link to official website</a></a></p>



                                    

                            
</body>
</html>