<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DAIICT Admission Cum Scholarship</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>DAIICT Admission Cum Scholarship</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>DAIICT Admission Cum Scholarship 2018 invites applications from Class 12 passed students or those appearing in 2018.</p>
                                    <hr>
                                      
                                   <h2> <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>Students who have passed Class 12 examination or equivalent with Maths, Physics and any one of Chemistry/Bio-tech/Computer Science/Biology </li>
<li>Students appearing in 2018 for Class 12 qualifying examination are also eligible to apply.  </li>
<li>Students must be born on or after 01 October 1993..</li></ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Step 1: Click here, to open online application link.
Step 2: Read all the instruction carefully and click on acknowledgment tab to proceed further.
Step 3: Fill in all the details and upload the required documents.
Step 4: Pay the application form fee of INR 1,200 to complete the application form
</pre>

                                                                        
       
                                            
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://admissions.daiict.ac.in/pages/btech.html">link to official website</a></a></p>



                                    

                            
</body>
</html>