<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inspire Merit cum Means Scholarshipō</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Vidyadhan Scholarship Program</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Ryan Merit cum Means Scholarship invites applications from students studying in class 8 to class 12. </p>
                                    <hr>
                                      
                                   <h2> <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>Studying in Class 8 to 12 </li>
<li>Secured more than 80% in the last examination   </li>
<li>Family income less than INR 2 Lac.</li></ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Eligible candidates can apply for the scholarship through following steps
Step 1: Visit the official website.
Step 2: Login/Register using Facebook, Google Plus or Email account. 
Step 3: Once signed in, click on 'START APPLICATION' to start filling the form. 
Step 4: Fill in all the details and upload the documents required.
Step 5: Click on 'Submit'.
 
Note: The disbursal of this scholarship award is at provider's sole discretion. 
It is an ongoing process and the provider holds the right to make changes to the scholarship. 

</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <pre>
•	Family income certificate
•	Marksheets of last qualifying examinations
•	ID Proof

</pre>
                                          
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.indiaeducation.net/scholarships/india/ryan-merit-cum-means-scholarship.html">link to official website</a></a></p>



                                    

                            
</body>
</html>