<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>National Means Cum Merit Scholarship</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>National Means Cum Merit Scholarship</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>National Means Cum Merit Scholarship 2018-19 invites applications from students studying in class 9 who have secured at least 55% marks or equivalent grade in class 8 examination. </p>
                                    <hr>
                                      
                                   <h2> <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>Students should have secured a minimum of 55% marks or equivalent grade in class 8 exam (relaxable by 5% for SC/ST).</li>
<li>The student shall have a minimum of 55% marks or equivalent grade in class 7 examination for appearing in the selection test for the award of scholarship (relaxable by 5% for SC/ST)</li>
<li>The family income should not be more than INR 1.50 Lac per annum</li></ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Eligible candidates can apply for the scholarship through following steps -
Step 1: Click on New Student? Register Here.
Step 2: Select the state of domicile, select the name of the scholarship the student is applying for, 
select scheme type, write the name, date of birth, mobile number, gender, email ID.
Step 3: Provide the bank details (Bank name, IFS Code, Account Number).
Step 4: The mobile number will be verified and an OTP will be generated.
Step 5: Login using OTP and fill the form.
Step 6: An application ID and password will be generated. Use that for the future references.
Note: All the applicants are advised to fill the form correctly, no changes can be made once submitted. 
The applicants are also advised to fill only one application as multiple applications will lead to the 
cancellation of the form.


</pre>

                                          </p>
                                            
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" https://mhrd.gov.in/nmms">link to official website</a></a></p>



                                    

                            
</body>
</html>