<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IDB Undergraduate Scholarship </title>
    <link rel="stylesheet" type="text/css" media="screen" href="webpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
</head>

<body>
        <% include partials/nav.ejs %> 

      <hr>
    <h1>
          <em>IDB Undergraduate Scholarship </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                        IDB Undergraduate Scholarship Programme  is a grant offered to needy and qualified Muslim students who have passed class 12 (SSSC)
                         and secured admission in an undergraduate programme of a recognised university in the current year.
                         The main objective of this scholarship programme is to improve the socio-economic conditions of the Muslim community as a whole. 
 


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Applicant must have completed his/her class 12 (SSSC) with a minimum of 70% marks in English, Physics, Chemistry and Biology/Mathematics. </li>
<li>Applicants from Maharashtra, Andhra Pradesh, Karnataka, Kerala and Tamil Nadu must secure a minimum 80% marks (aggregate) in the above-mentioned subjects. </li>
<li>Applicant must have completed his/her class 12 (SSSC) with a minimum of 70% marks in English, Physics, Chemistry and Biology/Mathematics.</li>
<li> Also, the applicant wishing to pursue Law must have secured at least 60% marks in English and optional/elective subjects. </li>

</ul>
</p>
<h2>
    <hr>How to appky</strong>
</h2>
<p>
    <pre>
 Application process:
Step 1: Click here to download the application form.
Step 2: Fill in all the details.
Step 3: Affix recent photos on the form.
Step 4: Attach all the necessary documents.
Step 5: Send the completed application form to the address mentioned below:
Muslim Education Trust
E-3, Abul Fazl Enclave 
Jamia Nagar
New Delhi-110025

    </pre>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://metdelhi.org/wp-content/uploads/2018/07/New-IsDB-Application-Form-2018.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>