<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Swami Vivekananda Merit Cum Means Scholarship for Minorities (West Bengal)</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Swami Vivekananda Merit Cum Means Scholarship for Minorities (West Bengal)</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>Announced with a view to assisting the meritorious students of West Bengal state who belong to economically backward sections of the society, the Swami Vivekananda </p>
                                    <hr>
                                      
                                   <h2> <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
To be eligible for this scholarship, an applicant must-
<ul>
<li>You must be a resident of West Bengal.</li>
<li>You must be pursuing studies at the post-madhyamik level and onwards at an educational institute in West Bengal after passing out from a state board, the council of secondary/higher secondary, Madrasah education or a state university.</li>
<li>The family income of your family should not be more than INR 2.5 Lakh.</li></ul>
</p>
                                    <h2>
         
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://svmcm.wbhed.gov.in/">link to official website</a></a></p>



                                    

                            
</body>
</html>