<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KEI High school Scholarship Program</title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
    <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>KEI High school Scholarship Program</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
              
KEI High school Scholarship Program 2018 is a scholarship program for students studying in Class 9, Kashmir. The scholarship will be offered to meritorious students.Kashmir Education Initiative (KEI) of the USA in collaboration with Iqbal Memorial Trust is offering this scholarship to provide financial assistance to meritorious students. This scholarship is purely based on merit cum means. <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
        <ul>
<li>Students studying in Class 9 are eligible to apply.	</li>
<li>The student must have secured more than 75% marks in their 8th class.	</li>
<li>The annual income of the family must not be more than INR 3 lacs per annum.	</li>

</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>

Procedure to apply for the scholarship;
Step 1: Download the application form.
Step 2: Fill in all the details.
Step 3: Attach all the required documents.
Step 4: Submit the application form at KEI office and the designated collection centers/ authorized persons listed on this link.
  </pre>
  <strong>NOTE:</strong>> Completed application forms should be duly attested by the principal or headmaster of the current school where the student is enrolled in his/her 9th Class.      
        

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <p>
                                                    <ul>
                                                        <li>Self-attested copy of student's Class 8th marks certificate.</li>
                                                        <li>Income certificate. </li>
                                                        <li>4 Passport size photos.</li>
                                                        
                                                        </ul>
                                                </p>
                                                <h2>
                                                        <hr>
                                                        <strong>Selection criteria: </strong>
                                                        </h2><p>
                                                        Shortlisted candidates and her parents will be called to attend an interview in Mumbai/ Delhi/ Bangalore/ Hyderabad/ Kolkata (based on the proximity of the candidate) at their own cost. The interview will be conducted by a jury consisting of eminent members of the scientific and academic communities along with L'Oréal India representatives.</p>
                                                                                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://kashmirpulse.com/notifications/scholarship/kashmir-education-initiative-kei-high-school-scholarship-2018/27032.html">link to official website</a></a></p>



                                    

                            
</body>
</html>