<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Schindler Igniting Minds Scholarship Program</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<body>
        <% include partials/nav.ejs%>  

      <hr>
    <h1>
          <em>Schindler Igniting Minds Scholarship Program:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Schindler India invites applications for Igniting Minds Scholarship Program 2018 from students of class 10 and 12 who are pursuing a diploma course from Polytechnic/ITI colleges. The key objective of the scholarship is to provide equal opportunity for education to meritorious students of financially underprivileged families.Applications open from 20 February 2018.
                            A total of 75 scholarships will be awarded to the students out of which 50% scholarships are reserved for girls. The selected students will receive a one-time scholarship of INR 20,000 each. 
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
The eligibility criteria for the scholarship are as follows
<pre>
        To be eligible for the scholarship, an applicant must -
        •	Be pursuing an ITI diploma/polytechnic diploma in the following streams -
        o	Electrical
        o	Mechanical
        o	Electronics
        o	Civil 
        o	Electronics & Telecommunication 
        •	Have scored aggregate 65% marks in Class 10 or 12. 
        •	Have scored 75% marks in the previous year examination (If the student is in the second or the third year of diploma course).
        •	Have annual family income up to INR 2 Lac from all sources. 
        •	Have age not more than 20 years.
        
</pre>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Eligible candidates can apply for the scholarship through following steps -
Step 1: Visit the official website.
Step 2: Login/Register using Facebook, Google Plus or Email account. 
Step 3: Once signed in, click on 'START APPLICATION' to start filling the form. 
Step 4: Fill in all the details and upload the documents required.
Step 5: Click on 'Submit'. 
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <p>
                                                      <pre>
•	Family income certificate
•	Class 10/12 mark sheet
•	Marksheets of last qualifying examinations
•	ID proof
                                                            
                                                          </pre>
                                                </p>
                                                
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" https://www.schindler.com/in/internet/en/about-us/csr-india/education.html">link to official website</a></a></p>



                                    

                            
</body>
</html>