<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Foundation for Excellence Scholarship</title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Foundation for Excellence Scholarship:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Foundation For Excellence Scholarship 2018-19 invites applications from meritorious students enrolled in the 1st year of BE/B.Tech, MBBS  or 5-year Integrated M.Tech Dual Degree program for the academic year 2018-19. The scholarship aims to provide financial and other assistance to meritorious and needy students who wish to study professional degree courses.
                            The scholarship is being provided by the Foundation For Excellence (FFE). The selected candidates will be awarded with financial and other assistance under this scholarship scheme. 
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
        To be eligible for the scholarship, an applicant must -
<ul>
<li>	Be enrolled in the 1st year of BE, B.Tech, MBBS or 5-year Integrated M.Tech dual degree program in the year 2018-19. </li>
<li> Have passed Intermediate/Higher Secondary/Pre-University/ISC/CBSE or other equivalent board qualifying examination no earlier than 2017 with at least 70 percent marks or more.    </li>
<li>Have taken admission to a professional degree course in engineering, technology or medicine on the basis of general/open merit rank of state/national level entrance examination or through a counseling conducted at the state level. </li>
<li>Have gross annual family income not more than INR 2.5 Lakh from all sources. </li>

</ul>
<strong>Note:</strong>The diploma students taking lateral admission to BE or B.Tech courses and students of B.Arch, BDS and B.Pharma are not eligible to apply for the scholarship. 
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Eligible candidates can apply online for the scholarship by following the steps mentioned below:
Step 1: Click here to begin the preliminary application process. 
Step 2: Fill in all required details. 
Step 3: Click on 'Next' button to proceed with the application procedure. 
Step 4: Fill the academic details. 
Step 5: Finally, submit the application form. 
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Scholarship: </strong>
                                                </h2>
                                                <p>
                                                    <ul>
                                                        <li>If the parents of an applicant are employees, he/she needs to provide a certified salary/pay slip from the employer containing all details about his/her basic salary and all deductions and allowances. </li>
                                                        <li>If an applicant's parents are retirees or pensioners, he/she needs to provide a pension statement issued by the pension authority and/or by an authorised bank. </li>
                                                        <li>Aadhaar Card (if Aadhaar Card is not available, an equivalent document for proof of address)</li>
                                                        <li>If an applicant's parents are self-employed or hold a business, they need to provide income certificate issued by an authorised government official or income tax return specifying the gross family income. </li>
                                                        <li>The students of agriculturalists, cultivators or farmers need to provide an income certificate issued by a competent or recognised authority. They also need to provide the details of size and nature of landholding crops grown.</li>
                                                        </ul>
                                                </p>
                                                <h2>
                                                        <hr>
                                                        <strong>Selection criteria: </strong>
                                                        </h2>
                                                        <p>What are the selection criteria ?
                                                                The candidates are selected for Foundation For Excellence Scholarship 2018-19 on the basis of their merit and needs.</p>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                            <ul><li>The first graduates of a family will be given preference over second and third applicant of a family. </li>
                                                                                <li>The scholarship will be awarded to students only after the financial need verification of the students by the FFE facilitator.</li>
                                                                            <li>The admissions of applicants in the professional degree courses/institutions on the basis of the open/general merit rank is done as per the table given below. </li></ul>
                                                                        </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" https://ffe.org/scholars/">link to official website</a></a></p>



                                    

                            
</body>
</html>