<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fedbank Hormis Memorial Foundation Scholarship</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Fedbank Hormis Memorial Foundation Scholarship:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            UGAM - Legrand Scholarship Program 2018-19 invites applications from young women who have completed class 10 and class 12 with a minimum of 75% marks. This scholarship is granted to help girls to cover 60% of their college tuition fee or INR 60,000 per annum whichever is less to study B.Tech, B.E and B.Arch at a recognized college or university in India.The scholarship is being offered by Legrand India under the scholarship program "UGAM - Legrand Scholarship Program 2018-19", with an objective to help girl students to pursue higher education in India. INR 60000 p.a. or 60% of tuition fee, whichever is less, would be awarded to 50 eligible students.


                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
The eligibility criteria for the scholarship are as follows
<ul>
<li>	Girls from pan India can apply</li>
<li>    Passed class 12th from India</li>
<li>Scored a minimum of 75% marks in class 10th and 12th</li>
<li>Seeking to take admission or secured admission in B.Tech./BE (preferably in Electrical or Electronics stream) and B.Arch. from India for 2018-19 batch</li>
<li>Preference would be given according to the merit and need of the candidate</li>
</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
The application can be done online.
Step 1: Click here to register by Gmail, Facebook or any email ID.
Step 2: Fill the 5-step form.
Step 3: Provide personal details, academic details, reference details etc.
Step 4: The candidates have to answer three descriptive questions in about 600 words describing themselves, why they have decided 
to pursue the chosen course of study, how the scholarship will help them and what are their future plans, explain why they are a 
worthy candidate for this scholarship?
Step 5: Submit the completed application form.
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Marubeni India Meritorious Scholarship: </strong>
                                                </h2>
                                                <p>
                                                        The applicants must submit the following documents while applying for the scholarship. (Submit scanned copies of all available documents)
                                                    <ul>
                                                        <li>Photo ID card</li>
                                                        <li>Age proof (Birth Certificate, Aadhaar Card, Passport, Class 10 school leaving certificate)</li>
                                                        <li>Aadhaar Card (if Aadhaar Card is not available, an equivalent document for proof of address)</li>
                                                        <li>Class 10 mark sheet</li>
                                                        <li>Class 12 mark sheet</li>
                                                        <li>Family income certificate or Form 16 of parents/dependents or 6 months bank statement</li>
                                                        <li>Passport size photograph</li>
                                                        <li>Proof of admission (Provisional) or Fee Receipt (students who are awaiting admission can submit university/college fee structure)</li>
                                                        <li>Students can submit supporting documents for extra-curricular activities</li>
                                                        </ul>
                                                        <strong>Note:</strong>The medical certificate should be issued by a Medical Officer, not below the rank of a DMO or an approved Medical Officer.
                                                </p>
                                                
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                                There will be one seat kept aside for physically challenged students.
                                                                            <ul><li>If no applications are received for the physically challenged category, it will be utilised under general category. </li>
                                                                                <li>If original mark sheets are already submitted to the college and not available for verification, attach a copy of the mark sheet attested by the head of the college of study.</li>
                                                                                </ul>
                                                                        </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" https://www.federalbank.co.in/scholarships">link to official website</a></a></p>



                                    

                            
</body>
</html>