<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>South Indian Bank (SIB) Scholarship Scheme</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
    <% include partials/nav.ejs%>  

      <hr>
    <h1>
          <em>South Indian Bank (SIB) Scholarship Scheme</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            What is South Indian Bank (SIB) Scholarship Scheme 2018?
The South Indian Bank (SIB) Scholarship Scheme 2018 is the third edition of the 'SIB Scholar', a scholarship scheme launched by the South Indian Bank under its Corporate Social Responsibility (CSR). The scheme is open to financially disadvantaged students who are pursuing undergraduate courses in Kerala. Students can benefit from 100% tuition fee payment/reimbursement and other benefits offered under this scholarship program.The scholarship is being offered by South Indian Bank Ltd.Payment/reimbursement of 100% of the tuition fee as per the fee structure.A monthly allowance of INR 4000 towards hostel/subsistence cost (paid for the entire duration of the course) <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
        To be eligible for this scholarship, an applicant must-
<ul>
<li>Have passed class 12 from any Govt. Higher Secondary School in Kerala	</li>
<li>Have scored a minimum of 85% marks in the academic year 2016-17 or 2017-18	</li>
<li>Have an annual family income not exceeding INR 100,000	</li>
<li>Be enrolled in an undergraduate course in Kerala.	</li>

</ul>
<strong>Eligible courses:</strong> B.Tech, MBBS, BDS, BAMS, BHMS, BVMS, B.Pharm, B.Sc (Nursing), B.Sc(Agri), LLB and other 3- to 5-year full-time undergraduate courses.<p><strong>Note:</strong> Students enrolled during the year 2018-19 in Govt./Aided colleges as well as self-financing colleges in Govt. quota in the state of Kerala are also eligible to apply.</p>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
The applications can be submitted online only by following these steps:Step 1: Visit the online application link.
Step 2: Fill in all the required details.
Step 3: Upload all the relevant documents in the application form.
Step 4: Tick the declaration points check box.
Step 5: Submit the application.Note: Kindly retain a copy of the application for future reference. Physical copy of the
Application need not be submitted.
</pre>

                                          </p>
                                          <hr>
                                          <h2>Terms and Condition:</h2>
                                              <p>
Ensure that the form has been filled correctly as there is no provision to modify the details once submitted.Multiple registrations will lead to disqualification.Except online application, no other means/modes of application will be accepted.Applicants should have a valid E-mail ID as all the communications will be notified through the candidate's E-mail.A total of 5 students will receive scholarships from each district of Kerala. Thus, a total of 70 students will be selected from across the 14 districts.The physical copy of the application need not be submitted.Guidelines for uploading the photograph and certificates:Recent passport-sized colour photographBackground, preferably whiteCasual photographs wearing caps/hats/dark glasses not acceptableResolution: 140 pixels (height) x 110 pixels (width)Size of the scanned image - not more than 50kbUploaded certificates should be legibleSize of each scanned certificate - not more than 300kbScanned Image of the certificate should be in pdf format only.                                                
                                              </p>
                                         
                                          
                                             <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.southindianbank.com/forms/ScholarshipApplication.aspx"">link to official website</a></p>



                                    

                            
</body>
</html>