<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dr. Reddy’s Foundation Sashakt Scholarship</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Dr. Reddy’s Foundation Sashakt Scholarship</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Dr. Reddy's Foundation Sashakt Scholarship 2018 invites applications from class 12th passed girl students. The objective of the scholarship is to encourage young and talented girls to pursue science studies and address the attrition of girl students in science during the transition from school to college.
The award is being offered by Dr Reddy's Foundation. The foundation is taking initiatives to encourage young women across India to prepare for higher studies and pursue a career in science.
Dr. Reddy's Foundation Sashakt Scholarship 2018 provides INR 2,40,000 for three years (INR 80,000 per year). It will include tuition fees, study expenses and basic living costs.
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
The eligibility criteria for the scholarship are as follows
<ul>
<li>	Applicant should be a girl.</li>
<li>Applicant should have completed class 12th exams. 	</li>
<li>Applicant should be confident of getting admission in India’s best science colleges.	</li>
</ul><strong>Note</strong>: Preference will be given to students with rural backgrounds, economically weak backgrounds and interest in scientific research.
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Step 1: Applicant can click here to register as a new user. 
Step 2: Login to fill the application form. 
Step 3: Fill the application form.
Step 4: Upload the required documents. 
Step 5: Submit the application form. 
</pre>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Marubeni India Meritorious Scholarship: </strong>
                                                </h2>
                                                <p>
                                                        
                                                    <ul>
                                                        <li>Class 10th certificate (mandatory) and mark sheets (optional).</li>
                                                        <li>Class 12th mark sheets (mandatory) and certificate (optional)</li>
                                                        <li>Income Certificate (Mandatory for household income less than INR 5 lakhs)</li>
                                                        <li>Disability Certificate (Mandatory for candidates with physical disability)</li>
                                                        <li>Family income certificate or Form 16 of parents/dependents or 6 months bank statement</li>

                                                        </ul>
                                                </p>
                                                <h2>
                                                        <hr>
                                                        <strong>Selection criteria: </strong>
                                                        </h2>
                                                        <p><ul><li>	Shortlisting of candidates based on their merit, need and family income</li>
                                                            <li>Supporting documents for the above-mentioned criteria to be submitted along with the document	</li>
                                                            <li>The shortlisted candidates will undergo a telephonic round of interview conducted by an experienced panel of interviewers.	</li>
                                                            <li>The final list of selected students will be published on the website and will receive the personalized scholarship award letter issued by Legrand	</li>
                                                                </ul></p>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p><Pre>
Applicable Institutions:
Delhi- Hindu College,  Miranda College,  Hansraj College
Kolkata- Vivekananda College
Chennai- Loyola College and Madras Christian College
Mumbai- Mithibai College of Arts, Chauhan Institute of Science & Amrutben Jivanlal College of Commerce and Economics and Sophia College for Women
Hyderabad- St. Francis College for Women and  St. Ann's College for Women
Bangalore- Department of Science (Christ University)  and The Oxford College of Science
                                                                            </Pre>
                                                                           </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" http://www.sashaktscholarship.org/">link to official website</a></a></p>



                                    

                            
</body>
</html>