<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Begum Hazrat Mahal National Scholarship Scheme for Minorities Girls</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>

<body> 
    <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Begum Hazrat Mahal National Scholarship Scheme for Minorities Girls:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Begum Hazrat Mahal National Scholarship, formerly known as Maulana Azad Scholarship, is a national-level scholarship started for the benefit of girl students belonging to minority communities. Started with the objective to financially support the meritorious girl students, Begum Hazrat Mahal National Scholarship disburses a scholarship amount of up to INR 12,000 to the selected minority students of class 9 to 12. Funded by the Government of India and implemented by Maulana Azad Education Foundation, almost 3,89,838 girl students have received the benefits of this scholarship till now.

                        
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
        Begum Hazrat Mahal Scholarship is meant for only girl students belonging to the six notified minority communities which include Muslim, Christian, Sikh, Buddhist, Jain and Parsi religions. The details of the eligibility criteria are mentioned below.
<ul>
<li>Applicants studying in class 9 to 12 can apply for the scholarship.	</li>
<li>	Applicants must have secured at least 50% marks or equivalent grades (aggregate) in the previous class to be eligible.</li>
<li>The annual family income of the candidate must not be more than INR 2 Lakh from all sources.	</li>

</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

        To make the scholarship application process easy for the applicants, the Maulana Azad Education Foundation (MAEF) allows students to apply for the scholarship through its Scholarship Portal. Find below the steps to fill the Begum Hazrat Mahal scholarship application form.
<ul>    <li>Applicants applying for the first time need to register themselves on the MAEF Scholarship Portal by filling the ‘Student Registration Form’.</li>
    <li>While filling the registration form, the candidates are required to provide their names, state of domicile, annual family income, date of birth, religion, marks details and Aadhaar card number or bank account number for identification purpose</li>
    <li>The applicants also need to give information regarding their address, bank details, parent’s occupational details and schools/institute details.</li>
    <li>After submitting the registration form, the candidates are required to take the printout of the completed forms and send them to MAEF office along with all the necessary documents.
            <pre>MAEF Office Address:
    Maulana Azad Campus,
    Chelmsford Road,
    Opposite New Delhi Railway Reservation Centre,
    New Delhi – 110055.</pre></li>
</ul>

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Marubeni India Meritorious Scholarship: </strong>
                                                </h2>
                                                <p>
                                                        Before filling the registration form, the applicants are advised to keep all the necessary documents with them. The list of documents that the candidates need have with them is highlighted below.
                                                       <ul><li>Recent passport size photograph of the applicant</li>
                                                        <li>Institution verification form attested by the Principal of the school/institute</li>
                                                        <li>A self-attested certificate of previous class’ mark sheet as mentioned in the registration form</li>
                                                        <li>Parents/Guardians’ income certificate issued by a competent authority declared by the State/UTs Administration.</li>
                                                        <li>Self-declaration of minority community certificate by the applicant</li>
                                                        <li>A copy of the first page of bank/postal account passbook which should be in the name of the applicant (either single or joint account with her parents)</li>
                                                        <li>A copy of the applicant’s Aadhaar card</li>
                                                        </ul>
                                                </p>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                            <ul><li>Begum Hazrat Scholarship is disbursed among students of each State/UT on the basis of the minority population in each State/UT as per Census 2011.</li>
                                                                                <li>Applicants with the lowest income are given preference during the distribution of the scholarships.</li>
                                                                                <li>While submitting the income certificate, candidates must provide a self-certified English/Hindi version of the income certificate if it is in the regional language.</li>
                                                                                <li>An applicant must submit only one application form. More than one application form is considered duplicate and thus, it is rejected.</li>
                                                                                <li>Direct Benefit Transfer (DBT) mode is used to transfer scholarship amount into the Beneficiary account.</li>
                                                                                <li>Begum Hazrat scholarship is only given to pursue education in India.</li>
                                                                                <li>Student availing the scholarship cannot take transfer to another educational institution except in case of extraordinary circumstances. Also, migration should be in the interest of the student’s academic career.</li>
                                                                                <li>Students already availing one scholarship implemented by the Central or State government is not eligible for Begum Hazrat Scholarship.</li>
                                                                                <li>The scholarship is discontinued in case of the academic gap in studies of the student.</li>
                                                                                <li>In case of any false information by the applicant to obtain the scholarship, Begum Hazrat Mahal Scholarship stands canceled and the paid scholarship amount is recovered by the State/UT government.</li>
                                                                                <li>The scholarship once discontinued is not revived under any circumstance.</li>
                                                                                <li>All the rules and regulation specified by the authority are subject to change from time-to-time.</li></ul>
                                                                        </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://scholarship-maef.org/homeNew">link to official website</a></a></p>



                                    

                            
</body>
</html>