<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SOF is pleased to launch the Girl Child Scholarship Scheme (SOF GCSS) </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
        <% include partials/nav.ejs %>

      <hr>
    <h1>
          <em>SOF is pleased to launch the Girl Child Scholarship Scheme (SOF GCSS):</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            The SOF Girl Child Scholarship Scheme (G.C.S.S.) 2018-19 is an annual scholarship program which provides financial assistance to girls of class 1 to class 10. The scholarship aims at providing financial assistance to girls from economically weaker section to enable them to pursue school education. 
                            Science Olympiad Foundation offers this scholarship for meritorious girls students from class 1 to class 10. It is an educational foundation and a non-profit organization based in New Delhi, India.
                            Total 300 girls are selected from all over the nation and are provided with an annual funding of INR 5000. 
                            
                            

                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
The eligibility criteria for the scholarship are as follows
<ul>
<li>All Indian school girls from class 1 to class 10 are eligible for this scholarship.</li>
<li>All Indian school girls from class 1 to class 10 are eligible for this scholarship. </li>
<li>	The child must have scored at least 60% marks or equivalent in her previous class</li>

</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

        The application for this scholarship is to be made by the schools. The schools will send a proposal, duly signed by the Head Master/Head Mistress/ Principal to recommend a girl child for this scholarship at the National Office of Science Olympiad Foundation.  

                                          </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Marubeni India Meritorious Scholarship: </strong>
                                                </h2>
                                                <p>
                                                        Applicant's previous year's Report Card duly signed by the Principal. 
                                                </p>
                                                <h2>
                                                        <hr>
                                                        <strong>Selection criteria: </strong>
                                                        </h2>
                                                        <p> The proposals received will be evaluated by the selection commitee set up by the SOF and the qualifiers will be notified by their respective schools.</p>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                            <ul><li>Each school may recommend only one girl child.</li>
                                                                                <li>The marks criteria for physically handicapped students may be waived-off.</li></ul>
                                                                        </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" http://www.sofworld.org/girl-child-scholarship-scheme-gcss">link to official website</a></a></p>



                                    

                            
</body>
</html>