<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AICTE-Scholarship Scheme to Girl Child (SSGC) under Pragati</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>AICTE-Scholarship Scheme to Girl Child (SSGC) under Pragati:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Pragati is a MHRD Scheme being implemented by of AICTE aimed at providing assistance for Advancement of Girls pursuing Technical Education. Education is one of the most important means of empowering women with the knowledge, skill and selfconfidence necessary to participate fully in the development process. This is an attempt to give young Women the opportunity to further her education and prepare for a successful future by “Empowering Women through Technical Education”

                           </p>
                            <h2>
                                <hr>
                                    <strong>Salient Features of the Scheme:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Total Number of Scholarship-4000 per Annum ( 2000 for Degree and 2000 for Diploma) </li>
<li>The candidate should be admitted to 1st year of Degree/Diploma course in any of the AICTE approved Institution of respective year through Centralized Admission process of the State/Central Government. </li>
<li>Students pursuing higher education in any full-time Undergraduate/Professional/Technical Courses with state/UGC recognized Universities/Reputed Engineering, Management and other technical institutes situated in the State of Kerala, India ONLY..</li>
<li> The Scholarships for Degree and Diploma are transferable in event of nonavailability of eligible applicant in any of the Degree/Diploma level Programme. </li>
<li>Two Girls Child per family are eligible, who’s family income is not more than 8 lakh per annum during the preceding financial year (in case of married girl, the income of parents/in-laws, whichever is higher will be considered). </li>
<li>The selection of candidate will be made on merit on the basis of qualifying examination to peruse the respective Technical Degree/Diploma course from any of the AICTE approved institution. </li>
<li>Amount of scholarship: Tuition Fee of Rs. 30,000/- or at actual, whichever is less and Rs.2000/- per month for 10 months as incidentals charges each year. In case of Tuition fee waiver/reimbursement, Students are eligible to get an amount of Rs. 30,000/- for the purchase of Books/Equipment/Softwares/ Laptop/Desktop/Vehicle/Fee paid towards competitive examination applications forms/exam. </li>
<li>Reservation-15% for SC, 7.5% for ST and 27% for OBC candidate/applicant. Document Required 1. Mark Sheet of standard Xth /XIIth / others as applicable. 2. Annual family Income Certificate for the preceding financial year in the prescribed format issued by not below the rank of Tahsildar. 3. Admission letter issued by Directorate of Technical Education for the admission in Diploma/Degree course. 4. Certificate issued by the Director/Principal/ Head of the Institute. 5. Tuition fee receipt. 6. AADHAR seeded Bank Pass Book in the name of the student indicating Account number, IFSC code and Photograph 7. Caste Certificate for SC/ST/OBC category. 8. AADHAR Card 9. Declaration by parents duly signed stating that the information provided by their child is correct and will refund Scholarship amount, if found false at any stage.</li>
</ul>
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="Link: https://www.aicte-pragati-saksham-gov.in/">link to official website</a></a></p>



                                    

                            
</body>
</html>