<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marubeni India Meritorious Scholarship</title>
    <link rel="stylesheet" type="text/css" media="screen" href="webpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Marubeni India Meritorious Scholarship:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Marubeni India Private Limited invites applications for Marubeni India Meritorious Scholarship  from students having passed class 12 in previous academic session . This scholarship aims to support the dreams of talented. A total of upto 100 scholarships will be awarded. A minimum amount of INR 40,000 will be credited to the bank account of each student selected for the scholarship.
                    </p><p>Note: The scholarship payment will be made in a single installment.

                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
The eligibility criteria for the scholarship are as follows
<ul>
<li>Class 12 passed students during the academic session 2017-18.</li>
<li>Students having scored more than 65% marks in class 12 board exams.</li>
<li>Students pursuing higher education in any full-time Undergraduate/Professional/Technical Courses with state/UGC recognized Universities/Reputed Engineering, Management and other technical institutes situated in the State of Kerala, India ONLY..</li>
<li>Students having annual family income from all sources not more than INR 400,000</li>
<li>Students not availing any other scholarship (having value INR 6000 or more per annum)</li>
<li><strong>Note:</strong> Children of employees of Marubeni and Buddy4Study are not eligible to participate in the scholarship program.</li>
</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Step 1: Visit the application portal here.
Step 2: Login/Register using Facebook, Google or using the Email id.
Step 3: Once signed in, click on 'Start Application' to start filling the form.
Step 4: Fill in all the details and upload the required documents.
Step 5: Finally, click on 'Submit'.
</pre>
                                            </p>
                                            <h2>
                                                <hr>
                                                <strong>Documents required for the Marubeni India Meritorious Scholarship: </strong>
                                                </h2>
                                                <p>
                                                        The applicants must submit the following documents while applying for the scholarship. (Submit scanned copies of all available documents)
                                                    <ul>
                                                        <li>Passport size photo</li>
                                                        <li>One age proof document (Acceptable documents: Birth certificate, First and last pages of a valid Indian passport, Driver’s license, Class 10 mark sheet with Date of Birth mentioned)</li>
                                                        <li>One identity proof (Acceptable documents: PAN Card, Voter Identity Card, Driver’s License, Aadhar Card, Class 10 mark sheet with photo)
                                                                Family income certificate (anyone)
                                                                </li>
                                                        <li>BPL card (if belonging to BPL category)</li>
                                                        <li>Income certificate (Government approved organization)</li>
                                                        <li>Recent monthly pay slip of the main wage-earner of the family</li>
                                                        <li><strong>Qualification certificates:</strong></li>
                                                        <li>Class 10 mark sheet</li>
                                                        <li>Class 12 mark sheet</li>
                                                        <li><strong>Admission confirmation:</strong></li>
                                                        <li>Admission letter</li>
                                                        <li>Latest college fee receipt</li>
                                                    </ul>
                                                </p>
                                                <h2>
                                                        <hr>
                                                        <strong>Selection criteria: </strong>
                                                        </h2>
                                                        <p><ul><li>	Initially, the candidates will be shortlisted based on their class 12 performance and annual family income and background.</li>
                                                            <li>The candidates will then be selected for telephonic interview round based on the shortlisting.</li>
                                                            <li>	After the telephonic round, candidates will be shortlisted for the final personal interview round.</li>
                                                            <li>	This personal interview round will be conducted by the Marubeni team.</li>
                                                                </ul></p>
                                                                <h2>
                                                                        <hr>
                                                                        <strong>Terms and Condition: </strong>
                                                                        </h2>
                                                                        <p>
                                                                            <ul><li>Marubeni India Private Limited (“Marubeni India”) reserves the right to modify, cancel or withdraw this Scholarship program at any stage without giving any prior notice or assigning any reason and accepts no responsibility for the consequences of such modification/cancellation or withdrawal.</li>
                                                                                <li>The selection of candidates for awarding scholarship shall be done solely by Marubeni India and shall be final and binding.</li>
                                                                                <li>	This Scholarship Program aims to provide financial assistance to meritorious and needy students and to promote their higher education. Thus, Scholarship cannot be demanded as a right.</li>
                                                                                <li>	The Scholarship amount shall be paid to the selected candidates through normal banking channels either through direct bank transfer or by account payee cheque / demand draft. Thus, all selected candidates must have active bank account in their own name at the time of remittance of scholarship amount or issue of account payee cheque / demand draft. Marubeni India shall not be liable for any loss or damage of the cheque / demand draft once it has been handed over to the selected candidate.</li>
                                                                                <li>	The candidates shall be required to produce the original certificates/documents relating to their education, family income etc. at the time or before face to face interview. Failure to produce such certificates/documents (in original) shall disqualify the candidate from this Scholarship Program.</li>
                                                                                <li>CANVASSING IN ANY FORM SHALL LEAD TO DISQUALIFICATION.</li>
                                                                                <li>The scholarship for a candidate may be withdrawn at any stage if you provide incorrect, false or misleading information or withhold relevant information.</li>
                                                                                <li>	The scholarship shall be non-transferable.</li>
                                                                                <li>	Marubeni India shall not be responsible for payment of any taxes or levies that may be applicable on/charged to the scholarship amount.</li>
                                                                                <li>Marubeni India shall not be liable or held responsible for any lack or lapse in any communication on account of failure or delay by any of the Internet, Telecom, SMS and E-mails service provider. No correspondence in this regard will be entertained.</li>
                                                                                <li>Disputes, if any, will be subject to exclusive jurisdiction of the courts at New Delhi only.</li></ul>
                                                                        </p>

                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" https://scholarshipscheme.in/marubeni-india-meritorious-scholarship/">link to official website</a></a></p>



                                    

                            
</body>
</html>