<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sasakawa India Leprosy Foundation Nursing Scholarship Programme</title>
    <link rel="stylesheet" type="text/css" media="screen" href="webpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
</head>

<body>
        <% include partials/nav.ejs%>  

      <hr>
    <h1>
          <em>Sasakawa India Leprosy Foundation Nursing Scholarship Programme:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Sasakawa India Foundation Nursing Scholarship Programme 2018 is a scholarship given to girl students who want to pursue B.Sc. (Nursing). The scholarship will be available only for institutes recognized by Indian Nursing Council. 
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
The eligibility criteria for the scholarship are as follows
<ul>
<li>Candidate must have completed Class 10+2 from a recognized school with Physics, Chemistry, Biology, and English.</li>
<li>Candidates who are in the first year of their studies/ courses in the academic year 2018-19 are eligible.</li>
<li>One of the parents of the candidate must have had leprosy and must be residing in a self-settled leprosy colony.</li>
<li>The age of the candidate must not be less than 17 years of age.</li>
</ul>
<strong>Note:</strong>
The applicants who are in receipt of some other scholarships will not be considered for the award. Furthermore, only one candidate from a family can avail this scholarship in an academic year. 
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

<pre>
Procedure to apply for the scholarship:
Step 1: Download the application form.
Step 2: Fill in all the details.
Step 3: Attach all the required documents.
Step 4: Send the application form by post at the address given below:
Sasakawa India Leprosy Foundation
S-260, First Floor,
Panchsheel Park, New Delhi-110017
Tel No +91-11-26013439      
</pre>
                                            </p>
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" http://silf.in/wp-content/uploads/2017/04/Application-for-Nursing-scholarship-programme-2018.pdf">link to official website</a></a></p>



                                    

                            
</body>
</html>