<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kalpana Chawla Memorial Award</title>
    <link rel="stylesheet" type="text/css" media="screen" href="webpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Kalpana Chawla Memorial Award:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                        Kalpana Chawla Memorial Award 2019: This award is given by Biyani College to all those girls who scored more than 60% marks in 10th class or higher classes. So we are giving complete information regarding this award.
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
The eligibility criteria for the scholarship are as follows
<ul>
<li>The candidates who have scored more than 60% marks in 10th and higher classes can apply for the scholarship.</li>
<li>The girl candidates are only eligible for the award.</li>
<li>Any student from any part of India can apply for the scholarship.</li>
</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  Postal Address:</strong>
                                            </h2>
    <p>
    <pre>
    Kalpana Chawla Memorial Award
    Biyani Group of Colleges
    R-4, Sector 3, Vidyadhar Nagar, Jaipur
    </pre>
           
    </p>
                                            <h2>
                                                    <hr>
                                                      <strong>  Rewards:</strong>
                                                        </h2>
<p>
<ul>
   <li>     First Prize:	Rs. 21000</li>
<li>    Second Prize:	Rs. 11000</li>
    <li>Third Prize:    Rs. 5000</li>
    <li>   Three Consolation Prizes:	Rs. 2100 each</li>
        

</p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.kalpanachawlaawards.com/">link to official website</a></a></p>



                                    

                            
</body>
</html>