<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Tata Housing Scholarship for Meritorious Girl Students. </title>
    <link rel="stylesheet" type="text/css" media="screen" href="webpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Tata Housing Scholarship for Meritorious Girl Students:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                        The objective is to recognize, promote and financially assist the meritorious Girl Students belonging to economically weaker sections, so that they are able to complete higher education in civil engineering, architecture and construction project management and be a part of the flourishing Real Estate Industry. This prestigious much sought after National Scholarship was instituted in the year 2014-15.The expenditure towards payment of admission fees, tuition fees, library fees, examination fees, purchase of books etc will be reimbursed on submission of appropriate proofs, subject to a maximum limit of Rs 60 thousands only.  In case the student is in receipt of any other scholarships, the differential amount (cost incurred and scholarship received from other source) will only be reimbursed.
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 <pre>
Girls applying for this scholarship must be fulfilling all the three conditions mentioned below to be eligible for consideration for 
the award of the scholarship. The scholarships will be awarded based on competitive merit and need. All other things being equal,
 preference will be given to students belonging to scheduled caste (SC) and scheduled tribe (ST) communities. 
• The scholarship is open to girls studying 2 nd year of Civil Engineering/Architecture in any 4 years-degree course such as
  B. Tech/B.E/B. Arch in any institute located in India and affiliated to any University recognized by law in India. Girl students 
  studying 1 st year of full-time 2 years MBA course in Construction Project Management in any institute located in India and affiliated 
  to any University, recognised by law in India, are also eligible to apply for this scholarship. 
• Girls studying Civil Engineering/Architecture must have secured at least 50 percent marks in aggregate in the First Year of
  Engineering/Architecture course. In case of MBA in Construction Project Management, they should have secured at least 50 percent marks
  in aggregate in the qualifying degree examination. 
• The total annual family income of the parents/guardians (in case parents are not alive) must not be more than Rs 3 Lakh (Rupees Three 
  Lakh only) from all sources in the preceding financial year. 
</pre>
</p>

</p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" https://www.tatahousing.in/csr/about_srijan.php">link to official website</a></a></p>



                                    

                            
</body>
</html>