<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Muslim Nadar Girls Scholarship</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>

<body>
 <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Muslim Nadar Girls Scholarship:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Muslim Nadar Girls Scholarship, Kerala welcomes all the girl applicants of Kerala who are studying in the first
                            year of HSC/ VHSC/ Undergraduate course in government /aided arts/science College. This scholarship is granted by 
                            Government of Kerala. The main aim of the scholarship is to provide financial up gradation to the girls who are 
                            unable to pursue their education. It further helps in the development of backward class and also encourages the girl 
                            education.The eligible or selected girls will be given Muslim Nadar Girls Scholarship, Kerala 2018-19 under which she 
                            will get the amount of Rs 125 per annum.
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 <pre>
The girl candidates who are fulfilling the below-mentioned criteria are eligible to apply for Muslim Nadar Girls Scholarship, Kerala 
2018-19
 Applicant must be in the first year of HSC/ VHSC/ Undergraduate course in government /aided arts/science College.
 A girl should belong to forward of BPL family and backward community.    
        
</pre>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>
<pre>
1. Click here to ‘New Registration'.
2. Fill in the details of matriculation or equivalent examination.
3. Get yourself registered.
4. Log in with your ID to complete the application process.
        <strong>
Important Note :</strong> 
Applicants are supposed to use their SSLC or equivalent examination details for registration. Any other details would lead to registration
failure.
        
        
</pre>
 </p>
<h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" www.dcescholarship.kerala.gov.in">link to official website</a></a></p>



                                    

                            
</body>
</html>