<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bigyani Kanya Medha Britti</title>
    <link rel="stylesheet" type="text/css" media="screen" href="webpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
</head>

<body>
    <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>Bigyani Kanya Medha Britti</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                        Bigyani Kanya Medha Britti Scholarship is an initiative to encourage girl child to study further after completing her 12th class in West Bengal. This scholarship is provided to girls who want to study higher after their 12th but do not have sufficient funds to carry on their higher studies. Girls studying from any board and any stream be it Basic Science/Medicine/Non-medical in West Bengal are eligible for this scholarship scheme. The scholarship shall be awarded by Jagadis Bose National Science Talent Search (JBNSTS), Kolkata. Under this unique initiative girls will get exposed the world of education and can pursue their dreams with the help of this scholarship 
The scholarship amount given by JBNSTS is exponentially good. The student will be provided Rs 2000 per month for 5 years in order to complete her higher education. Secondly, the student will also be given Rs 2000 per annum as a yearly book grant. Besides, the girl will be provided with free academic and career counseling plus participation in seminars and colloquia. Travel and Enrichment programs will also be taken care of along with the project work.

                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
 <p>
 
The eligibility criteria for the scholarship are as follows
<ul>
<li> Indian National Girlfrom West Bengal who has passed the Higher Secondary or equivalent examination in the year of application.</li>
<li>The Girl must have passed 12th class in 2018 from any Board and studying Basic Science/Medicine/ Engineering in any institute of West Bengal.</li>
<li> Only girls have enrolled in some undergraduate program after 12th class can apply for this scholarship.</li>
<li> Diploma course students are not eligible, only degree courses students should apply.</li>
</ul>
</p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
<p>

Steps to apply for this scholarship:
<ul>
<li> Students who wish to apply can fill an online form from the official website of JBNSTS and fill out all the details after paying a fee Rs 100/- online or through e-challan.</li>
<li> If online is not comfortable, you can even download the application form and fill out all the details and can post it to the address- 1300 Rajdanga Main Road, Kolkata- 700107, West Bengal.</li>
<li> Don’t forget to upload passport size photograph and signature only in JPEG format.</li>
<li> Also upload class 12th mark sheet and the proof of admission (maximum file size should be 1MB each).</li>
<li> Read instruction before filling the Application Form.</li>
<li> Incomplete Applications will be rejected.</li>
 </ul>       
                                            </p>
                                            <h2>
                                                    <hr>
                                                      <strong>  Selection Criteria:</strong>
                                                        </h2>
<p>
Students who have passed 12th examination from any Board in Science in 2018 and aspiring to study fund Med/ Basic Science can apply or three phased selections process which includes
<ul>
  <li>First, the students will have to appear in a written test in order to qualify for second round of selection.
</li><li> Second round of selection includes the Interview in which the qualified members will appear. 
</li><li> Third and final phase for selection process is Scientific Creativity. Final results will Be declared after third phase of selection and results could be seen on the official website of JBNSTS. 
 </li></ul>>        
 <strong> Mandatory Note:</strong>
 <ul>
<li> Some important documents need to be attached in order to avoid rejection:
</li><li> Three recent passport size photographs to be affixed in the boxes provided in the application form.
  </li><li>  Photocopy of the original mark sheet of 12th standard equivalent examination.
    </li><li>  Proof of 1st-year admission
        </li></ul>
</p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href=" https://www.jbnsts.org/">link to official website</a></a></p>



                                    

                            
</body>
</html>