<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Merit Scholarship to Undergraduate Girl Students</title>
    <link rel="stylesheet" type="text/css" media="screen" href="webpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
</head>

<body>
        <% include partials/nav.ejs%> 

      <hr>
    <h1>
          <em>  Merit Scholarship to Undergraduate Girl Students:</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                        Merit Scholarship to Undergraduate Girl Students is introduced by the Haryana Government. It invites application from 10 topper girl students who after passing 12th class with at least 60% marks are studying in any Govt. College pursuing general degree course. The objective of this scheme is to enable meritorious girl students of Haryana to pursue higher education. It has been instituted in order to attain the national goal in making all our efforts to provide good education and bringing women in the mainstream of the society. The selected students will receive INR 3000 per college per student annually. The selection is made strictly on the basis of merit and on the recommendation of the Head of Institutions.
                           </p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
                                    <p><pre>
The students fulfilling following essential conditions can apply for the scholarship –
•	This scholarship will be given to the girl students who after passing class 12 with at least 60% marks, are studying in any Govt. college.
•	The awards will be given only to the students pursuing general degree courses.
•	Students who pursue their studies through correspondence course/open universities are not eligible for the award.
•	A scholarship holder under this scheme will not hold any other scholarship/stipend. However, they may accept a grant of minority help from the State Govt. or any other source for the purchase of books, equipments or for meeting the expenses of boarding and lodging.
•	There is no income limit for this scheme.
                                    </pre>
                                    </p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
                                            <p><pre>
The application can be done by post with the following steps:
step 1: Download the application form.
Step 2: Fill in all the details.
Step 3: Attach all the documents.
Step 4: Submit it to the respective head of institution, who will further forward the complete documents to the ministry as per the prescribed format.
                                                </pre>
                                            </p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.learningwithvodafone.in/en/details/merit-scholarship-to-under-graduate-girl-students">link to official website</a></a></p>



                                    

                            
</body>
</html>