<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Women as Cyber Leaders Scholarship at Cranfield University in UK</title>
   <!--  <link rel="stylesheet" type="text/css" media="screen" href="/assests/webpage.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
</head>

<body>
<% include partials/nav.ejs %> 
<hr>
    <h1>
          <em>  Women as Cyber Leaders Scholarship at Cranfield University in UK</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            The Cranfield University is inviting applications for Women as Cyber Leaders Scholarship. The scholarships are awarded to study MSc Cyber Defence and Information Assurance.
                            Cranfield University is a British postgraduate and research-based public university specialising in science, engineering, technology and management.
                            If English is not your first language then you will need to show that your English language skills are at a high enough level to succeed in your studies.
                            <ul>
                                <li>Course Level: Scholarships are available for pursuing MSc programme.</li>
                            <li>Study Subject: Scholarships are awarded to study Cyber Defence and Information Assurance.</li>
                            <li>Scholarship Award: The scholarship is worth £6,500 towards tuition fees for the MSc Cyber Defence and Information Assurance.</li>
                            <li>Number of Scholarships: Not Known</li>
                            <li>Scholarship can be taken in the UK</li>
                            </ul></p>
                            <h2>
                                <hr>
                                    <strong>Eligibility for the Scholarship:</strong>
                                    </h2>
                                    <p>
                                    <ul><li>	Eligible Countries: Applicants from EU, Rest of World and UK are eligible to apply.</li>
                                    <li>Entrance Requirements: Women applying for part-time study on the MSc Cyber Defence and Information Assurance commencing October 2018. Applicants must meet the course eligibility requirements as detailed on the course page.</li>
                                    <li>English Language Requirements:</li>
                                    </ul></p>
                                    <h2>
                                        <hr>
                                          <strong>  How to Apply:</strong>
                                            </h2>
                                            <p>
                                            If you wish to be considered for this Scholarship please indicate your interest in the course application highlighting your achievements and reasons that you should receive the scholarship along with a short essay of approx. 500 words on the topic of ‘Cyber’s role in the Defence and Security sector’. The essay will be judged by a Cranfield panel with the scholarship awarded to the author of the best essay.
                                            If you have already applied for admission and wish to be considered for the Women as Cyber Leaders Scholarship you should send via email.
                                            </p>
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.cranfield.ac.uk/funding/funding-opportunities/women-as-cyber-leaders-scholarship">link to official website</a></a></p>



                                    

                            
</body>
</html>