<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kishore Vaigyanik Protsahan Yojana (KVPY) </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>

<body>
        <% include partials/nav.ejs %>

      <hr>
    <h1>
          <em>Kishore Vaigyanik Protsahan Yojana (KVPY)</em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            Siemens Scholarship Program  is an initiative of Siemens India to support 1st year engineering students from the streams Mechanical/Production, Electrical,
                            Electronics/Instrumentation, Electronics and Telecommunication, Computers/Information Technology, Instrumentation.
                            The objective of this scholarship is to support determined students who are having devotion and perseverance towards learning.
                            The scholars can also be placed in the Siemens in various sectors in the coming future.
                            This scholarship will support the students to achieve their personal and professional goals.
                            Department of Science and Technology (DST), Government of India invites application from students of class 11 
                            to first-year graduation or Integrated post graduation (Science) for Kishore Vaigyanik Protsahan Yojana (KVPY) . 
                            The main aim of this program is to encourage young talent to take up research as a career.


                           </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Indian students studying in India.</li>
<li>Stream SA: Class 11 studying student having at least 75% (65% for SC/ST/PWD) in Maths and Science subjects in class 10 board examination</li>
<li>Stream SX: Class 12 studying student having at least 75% (65% for SC/ST/PWD) in Maths and Science subjects in class 10 board examination.</li>


</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
The applicant has to follow these steps in order to apply online:
Step 1: Click here to apply online
Step 2: To register, click here
Step 3: Provide the personal details such as Name, DoB, Stream, Phone, Email id.
Step 4: Agree to the terms and condition and click on register.
Step 5: Username and password will be generated in sent to the registered email id.
Step 6: Login to continue filling the form by providing academic details and scanned copy of photo and signature.
Step 7: Make a payment by using a Credit Card, ATM-Debit Card or Net Banking.
Note: For General/OBC category the application fee is INR 1000 and for SC/ST/PWD category the application fee is INR 500. Bank Charges extra.
</pre>
</p>
<h2>
    <hr>
    <strong>Benefits</strong>
</h2>
<p>
In graduation and integrated 1st to 3rd years, the selected fellow will receive a monthly stipend of INR 5000 and an annual contingency grant of INR 20000.
In MSc and integrated 4th to 5th years,  the selected fellow will receive a monthly stipend of INR 7000 and an annual contingency grant of INR 28000.
</p>
                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="http://www.kvpy.iisc.ernet.in/main/index.htm">link to official website</a></a></p>



                                    

                            
</body>
</html>