<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>11th All India Maths Science (AIMS) Talent Examination </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>

<body>
        <% include partials/nav.ejs %>

      <hr>
    <h1>
          <em>11th All India Maths Science (AIMS) Talent Examination </em>
            </h1>
            <hr>
            <h2>
                   <strong> Scholarship Description:</strong>
                    </h2>
                    <p>
                            11th All India Maths Science (AIMS) Talent Examination  invites applications from students of class 1 to 10 to strengthen their 
                            basic concepts of Science and Mathematics and build a firm foundation for future competitive examinations.
                            The key objective of the examination is to promote Scientific and Mathematical skills among school students. 
                    </p>
                            <h2>
                                <hr>
                                    <strong>Who can apply:</strong>
                                    </h2>
 <p>
 

<ul>
<li>Be a student of class 1 to 10 studying at a school recognized by CBSE/IGCSE/ICSE/State board</li>


</ul>
</p>
<h2>
    <hr>How to apply</strong>
</h2>
<p>
    <pre>
Eligible candidates can apply through the participating schools only. The steps to be followed 
by schools for application include -
Step 1: Download the registration form in the prescribed format. 
Step 2: Fill the names of students who are interested to participate and collect the application 
fee of INR 100 per student. 
Step 3: Keeping their respective share aside, the schools require to submit a demand draft of the 
amount received in favour of Centre for Excellence to their office along with the registration form -
Centre for Excellence, 12/102, First Floor, Aditya Commercial Complex, Preet Vihar Community Centre, 
New Delhi-110092. 
OR
They can also email the scanned copies of the registration form at aimste1@gmail.com.
</pre>
</p>


                                                
       
                                            <h2>
                                                <hr>
                                                  <strong>  Link:</strong>
                                                  </h2>
                                                  <p><a href="https://www.aimstalent.com">link to official website</a></a></p>



                                    

                            
</body>
</html>