<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ABOUT US </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
     <%include partials/nav2.ejs  %> 

      <hr>
    <h1>
          <em style="color:whitesmoke;">About Us</em>
            </h1>
            <hr>
<p>
    <pre>

Sportal is an interactive scholarship portal which is for students

who want pursue higher studies to find scholarships tailored to their choices.

It is a website which will make scholarships known andd not too well known

easily accesible for the students and gives a detailed approach of how

to apply to them


This site is made by-:

Aman Maheshwari

18bce1230

Divyanshu Kantol

18bce1102

Jay Daftari

18bce1299
</pre>
</p>                   
</body>
</html>